<div id="content">
<h1>Edit Grade Scale</h1>
<%= error_messages_for("section") %>
<%= form_for @section do |s| %>
<fieldset>
<legend>Scale</legend>
<p>Set the bounds on grade ranges for this section. </p>
<table>
  <tr>
    <td><label for="lower_bound">Any grade lower than</label><%= select_tag "section[grade_scale][bounds][]", options_for_select(0..100, @section.grade_scale.first[0].last), :id => 'lower_bound' %>%</td>
    <td><label for="low_grade">is a </label><%= text_field_tag("section[grade_scale][grades][]", @section.grade_scale.first[1], :size => 4, :id => 'low_grade', :class => grades_check(0)) %></td>
  </tr>
  <% @section.grade_scale.each_with_index do |scale, i| %>
    <% next if i == 0 || scale == @section.grade_scale.last %>
    <tr>
      <td><label for="bound_<%= i %>">Any grade lower than</label><%= select_tag "section[grade_scale][bounds][]", options_for_select(0..100, @section.grade_scale[i][0].last), :class => bounds_check(i), :id => "bound_#{i}" %>%</td>
      <td><label for="grade_<%= i %>">is a </label><%= text_field_tag("section[grade_scale][grades][]", @section.grade_scale[i][1], :size => 4, :id => "grade_#{i}", :class => grades_check(i)) %></td>
    </tr>
  <% end %>
  <% 1.upto(params[:extra_rows].to_i) do |r| %>
    <tr>
      <td><label for="section[grade_scale][bounds][]">Any grade lower than</label><%= select_tag "section[grade_scale][bounds][]", options_for_select(0..100) %>%</td>
      <td><label for="section[grade_scale][grades][]">is a </label><%= text_field_tag("section[grade_scale][grades][]", '', :size => 4) %></td>
    </tr>
  <% end %>
  <tr>
    <td class='text'>The highest possible grade</td>
    <td><label for="section[grade_scale][grades][]">is a </label><%= text_field_tag("section[grade_scale][grades][]", @section.grade_scale.last[1], :size => 4) %></td>
  </tr>
</table>
<%= link_to "Add more grade ranges", edit_section_path(@section, :grade_scale => '', :extra_rows => params[:extra_rows].to_i + 1) %>
<% unless @sections.select{|s| s.subject_id == @section.subject_id}.length == 1 %>
<label style='display:block'><%= check_box_tag("all_sections") %>Apply this scale to all my sections of <%= @section.name %></label>
<% end %>
<%= submit_tag("Save Changes", :class => 'button') %>
</fieldset>
<% end %>

<%= link_to "Cancel", session[:return_to] %>
</div>
<div id="secondary">
<h2>Notes</h2>
<p>The grade scale on this page is used for student marks earned in this section. The default values are:
<ul>
<li>Any grade below 60% is an F;</li>
<li>A grade between 60% and 70% is a D;</li>
<li>A grade between 70% and 80% is a C;</li>
<li>A grade between 80% and 90% is a B;</li>
<li>And any grade 90% or higher is an A.</li>
</ul></p>
<p>You may set the scale to use as few or as many grades as you want (minimum 2), and using whatever symbols you want. If your school uses a 4 point scale rather than letter grades, simply replace A, B, C, D, F with 4, 3, 2, 1, 0.</p>
<p>If your class is pass/fail, with a pass grade of 60%, fill the first row with '60' and 'fail'. Enter 'pass' in the <em>last</em> row, and delete the values in the other rows.</p>
<p>Delete any grades you do not need.</p>
</div>
