<div>
 <h2>Recent Discussion Posts</h2>
 <% if @topics.empty? && @posts.empty? %>
 <p><%= no_posts_msg %></p>
 <% else %>
  <% unless @topics.empty? %>
  <h3>Monitored Topics</h3>
  <dl class='floatless'>
   <% for topic in @topics %>
    <dt><%= topic.forum.name %> | <%= topic.title %></dt>
    <dt title='<%= topic.forum.name %> | <%= topic.title %>'>
    <%= truncated_post_link(topic.last_post, topic) -%></dt>
    <dd>
     (<%= topic.last_post.user.display_name %>, <%= topic.last_post.created_at.strftime("%a %b %d") %>)
    </dd>
   <% end %>
  </dl>
  <% end %>
  <%= '<hr />'.html_safe unless @posts.empty? && @topics.empty? %>
  <% unless @posts.empty? %>
  <dl class='floatless'>
   <% for post in @posts %>
    <dt><%= post.forum.name %> | <%= post.topic.title %></dt>
    <dt><%= truncated_post_link(post, post.topic) -%></dt>
    <dd style="margin-bottom:0.5em">(<%= post.user.display_name %>, <%= post.created_at.strftime("%a %b %d") %>)</dd>
   <% end %>
  </dl>
  <% end %>
 <% end %>
</div>
