<%= error_messages_for("department", :class => 'ie_high') %>
<%= form_for @department do |f| %>
  <fieldset>
    <legend>Department</legend>
    <%= f.text_field "name" %>
  </fieldset>
  <fieldset>
    <legend>Subjects</legend>
    <ul>
      <% @subjects.each do |subject| %>
       <% new_or_existing = subject.new_record?? 'new_subjects' : 'existing_subjects' %>
       <% prefix = "department[#{new_or_existing}][]" %>
       <%= fields_for prefix, subject do |subject_form| %>
        <li><%= subject_form.text_field :name %></li>
       <% end %>
      <% end %>
      <li><%= new_subject_link %></li>
    </ul>
    <%= submit_tag("Save", :class => 'button') %>
  </fieldset>
<% end %>
