  <head>
    <title><%= "#{@page_title || title} | LittleRedBrick - Schools Online Simply" %></title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <%= stylesheet_link_tag 'term', 'beast', 'datebocks/datebocks_engine', 'datebocks/calendar-system.css', 'themes/default', 'themes/alert', 'themes/mac_os_x', 'calendar/blue/style', :cache => true %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    <%= javascript_include_tag 'prototype', 'lowpro', 'effects', 'controls', 'dragdrop', 'window', 'tablekit', 'application', 'password', 'calendar', 'forum', :cache => true %>
    <%= yield :header_tags %>
    <% 6.upto(8) do |n| %>
    <!--[if lt IE <%= n + 1 %>]>
	<link rel="stylesheet" href="/stylesheets/ie<%= n %>.css" media="screen" type="text/css">
    <![endif]-->
    <% end %>
    <%= stylesheet_link_tag "large", :rel => "#{session[:style] == 'large' ? 'stylesheet' : 'alternate stylesheet'}", :title => 'large' %>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  </head>
