<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <%= render(:partial => "layouts/header") %>
  <body id="<%= controller.controller_name %>_<%= controller.action_name %>"<%= mark_of_the_beast %>>
   <div id = 'wrapper'>
    <div id='masthead' class='selectfree'>
     <ul id = 'logout'>
      <li><%= button_to "Logout", logout_path, :method => :delete, :class => 'logout' %></li>
      <li><%= link_to_unless_current "Edit Account", edit_account_path, :title => 'click to change your login and password' %></li>
     </ul>
     <%= link_to_unless_current "Home", home_path, {:id => 'home'} do "<div id='home'></div>".html_safe end %>
     <div id='nav'>
      <ul id = 'primary'>
        <%= li link_to_unless_current("Admin", admin_home_path,
                     :title => 'Click for a range of administrative topics'){ span "Admin" }, :id => active?('admin') %>
       <%= tab_for_calendar %>
       <%= tab_for_discussions %>
       <%= tab_for_students %>
       <%= li link_to_unless_current("Teachers", teachers_path,
                            :title => 'Click to see all teacher schedules') {span "Teachers" }, :id => active?('teacher') %>
       <%= li help_link, :id => active?('help') %>
      </ul>
      <ul id = 'secondary_nav'>
       <%= secondary_nav %>
       <%= render :partial => 'layouts/styleswitch' -%>
      </ul>
     </div>
     <!--[if lte IE 6.5]><iframe></iframe><![endif]-->
    </div>
    <div id='content_wrap'<%= ' class="big_nav"' if @two_lines %>>
     <%= yield %>
    </div>
    <div id='footer' class='selectfree'><%= footer.html_safe %><!--[if lte IE 6.5]><iframe></iframe><![endif]--></div>
   </div>
  </body>
</html>
