<div class="student">
<h3>Upcoming Assignments</h3>
<% if @future_assignments.empty? %>
 <p>There's nothing in the system right now. <strong>That is not a guarantee that you have no assignments due soon.</strong> Your teachers may have assigned something without entering it into the database.</p>
<% else %>
<table class="sortable scrollike" cellspacing="0">
 <thead>
  <tr>
   <th class='text'>Title</th>
   <th>Subject</th>
   <th>Category</th>
   <th>Due Date</th>
   <th>Point Value</th>
  </tr>
  </thead>
  <tbody>
   <% @future_assignments.each do |assignment| %>
    <tr class='<%= cycle 'odd', 'even' %>'>
     <td class='text'><%= link_to assignment.title, student_assignment_path(assignment.section, assignment) %></td>
     <td><%= assignment.section.name %></td>
     <td><%= assignment.category %></td>
     <td><%= assignment.date_due.strftime("%a %b %d") %></td>
     <td><%= assignment.point_value %></td>
    </tr>
   <% end %>
  </tbody>
</table>
<% end %>
</div>
