<% @page_title = 'Classes' %>
<div id="content">
<h1>Class Summary | Marking Period <%= marking_period_links %></h1>
<%= notice_or_error %>
<%= render(:partial => "people/students/personal_section", :collection => @rbes) %>
<% if @rbes.empty? %>
<p>You have not been enrolled in any classes for this term, or at least your class information has not been entered into the database.</p>
<% end %>
</div>
<div id="secondary">
<h2>Student Summary</h2>
<dl>
<% unless current_user == @student %>
<dt>Name</dt><dd><%= @student.full_name %></dd>
<% end %>
<dt>Grade</dt><dd><%= @student.grade %></dd>
<dt>ID</dt><dd><%= @student.id_number %></dd>

<% if @school.terms.count > 1 %>
<hr style="clear:both"/>
<h3>Next Term</h3>
See <%= his_or_your %> <%= link_to "classes for next term", term_staging_path(@school.terms.last) %>
<% end %>
</div>
