<% @page_title = "#{@section.name} | Assignment ##{@assignment.position}" %>
<div id="content">
 <h1>Assignment <%= @assignment.position %>: <%= @assignment.title %></h1>
 <h2>Due <%= due_date_for(@assignment) %> (Marking Period <%= @mp_position %>)</h2>
  <div class="section">
   <dl>
    <div class="topline">
     <dt>Point Value</dt> <dd><%= @assignment.point_value %></dd>
     <dt>Score</dt><dd><%= @assignment.score %></dd>
     <dt>Category</dt> <dd><%= link_to @assignment.category, student_assignments_path(@section, :cat=> [@assignment.category], :mp => @mp_position), :title => 'Click to see all assignments from this category' %></dd>
    </div>
    <dt>Date Assigned</dt><dd><%= @assignment.date_assigned.strftime("%a %b %d") %></dd>
    <% unless @assignment.description.blank? %>
     <dt>Description</dt><dd style="padding:0;clear:both"><%= @assignment.description %></dd>
    <% end %>
    </dl>
    <p>This assignment represents <%= @assignment.point_value %> / <%= @category_points %> (<%= number_with_precision(100 * @assignment.point_value/@category_points.to_f, :precision => 0) %>%) of the <%= @assignment.category %> points, and <%= @assignment.point_value %> / <%= @mp_points %> (<%= number_with_precision(100 * @assignment.point_value/@mp_points.to_f, :precision => 0) %>%) of the total points, assigned during marking period <%= @mp_position %>.</p>

 </div>
</div>
<div id="secondary">
<h3>View Other Assignments</h3>
<ul>
 <% for assignment in @assignments %>
 <li><%= link_to_unless_current assignment.title, student_assignment_path(@section, assignment), :title => "Click to see more information about assignment #{assignment.position} : #{assignment.title}" %></li>
 <% end %>
</ul>
<% if @assignments.empty? %>
<p>No other assignments due in marking period <%= @mp_position %>.</p>
<% end %>
</div>