<div id="content">
 <h1>Topics</h1>
 <p>When you click the name of a <%= link_to "forum", :action_name => 'forums' %> on the page that lists forums for a <%= link_to "discussion group", :action_name => 'groups' %>, you will see a list of forum <strong>topics</strong>. There are three ways to tell how much interest the topic has generated, based on three indicators of activity for each topic on the list: the number of <%= link_to "posts", :action_name => 'posts' %> (replies) to the topic, the number of times the topic and posts have been viewed, and the date of the last post.</p>
 <%= image_tag("help/forum.png", {:alt => "description", :size => "610x170"}) %>
 <p>Each topic may also be noted as <em>locked</em> and/or <em>sticky</em>. If a topic is locked, no one may post replies to it. If a topic is sticky, it remains at the top of the first page of forum topics.</p>
 <h2>Adding a Topic</h2>
 <p>If there is a link under the list of topics to make a <code>New topic</code>, you can click it to start a topic for other people in the discussion group to see. (If you don&#8217;t see the link, the forum creator must have decided not to let anyone else add topics.) Just write out a topic, and decide whether it should be <em>locked</em> or <em>sticky</em>.</p>
 <h2>When to Make a Topic Locked and/or Sticky</h2>
 <p>Like most conversations, most forum topics involve multiple participants and are time sensitive. Those topics should be neither locked nor sticky. That way, anyone in the group can answer it, but after a while it can get bumped off the front page as newer, timelier topics are added. Sometimes it makes sense to post a time sensitive announcement, like a date change for the next staff meeting. That could be locked, because no one needs to reply to it, but it does not need to be sticky, because no one will need to see it after the meeting date has passed. Something like a list of guidelines for forum etiquette could be locked and sticky - it&#8217;s not open to discussion, but it&#8217;s useful to remind people about it every time they log in to the forum. An ongoing, popular discussion, like a tutorial on forum use, could be sticky but not locked.</p>
 <h2>Monitoring a Topic</h2>
 <p>Any user may choose to <%= link_to "monitor", :action_name => 'monitoring' %> certain topics. Recent <%= link_to "posts", :action_name => 'posts' %> to monitored topics appear on the front page of the site when a user logs in. If the discussion groups get very active, it can become difficult to keep up with them all. Selecting certain interesting topics to monitor cuts down on the time required to stay current on forum activity.</p>
</div>
<%= render(:partial => "help/general/discussions/forums") %>
