<div id="content">
<h1><%= @parent.full_name %></h1>
<p><%= last_login %></p>
<h2>Family</h2>
<table class="scrollike sortable" cellspacing="0">
 <thead>
  <tr><th>Child</th><th>Parents</th></tr>
 </thead>
 <tbody>
 <% @children.each do |child| %>
  <tr>
    <td><%= link_to child.full_name, student_path(child) %></td>
    <td>
     <% (child.parents - [@parent]).each do |parent| %>
      <%= link_to parent.full_name, student_parent_path(child, parent) %>
     <% end %>
    </td>
   </tr>
  <% end %>
 </tbody>
</table>
<% unless @parent.never_logged_in? %>
<h2>Login History</h2>
<ul>
 <% @parent.logins.each do |login| %>
 <li><%= login.created_at.strftime('%A, %b %d') %></li>
 <% end %>
</ul>
<% end %>
<%= render(:partial => "posts") %>
<%= link_to "Edit account", edit_student_parent_path(@student, @parent) %>
</div>
<div id="secondary">
<%= initial %>
</div>
