<% @page_title = "#{@teacher.display_name} | Login History" %>
<div id="content">
<h1>Login History: <%= @teacher.display_name %></h1>
<ul>
  <% for login in @logins %>
    <li><%= login %></li>
  <% end %>
</ul>
<%= pagination @logins %>
<%= @teacher.display_name + ' has never logged in.' if @logins.empty? %>
</div>
<div id="secondary">
<h2>Editing Links</h2>
<ul>
<li><%= link_to "Edit name/login", edit_teacher_path(@teacher) %></li>
<li><%= link_to "Edit teaching load", edit_teaching_load_path(@teacher) %></li>
</ul>
<hr/>
<li><%= link_to_unless_current "Login history", logins_teacher_path(@teacher) %></li>
</ul>
</div>


