<div id="content">
<h1><%= @page_title = "Confirm File Contents" -%></h1>
<%= notice_or_error %>
<%= error_messages_for("upload") %>
<% @length = @data.map(&:length).max %>
<%= form_tag teaching_load_upload_path do %>
  <label id="first_row_toggle" for="header_row"><%= check_box_tag :header_row, true, false %>Check this box if the first spreadsheet row has teaching assignment data (leave it blank if you have a header row).</label>
 <div class="scrollableTable" id="taller">
  <table cellspacing = 0>
   <thead>
    <tr><th colspan = '<%= @length %>' id = 'assign_head'>File Contents</th></tr>
    <%= render(:partial => "upload/users/data_row", :object => @data[0], :locals => {:header => true}) -%>
   </thead>
   <tfoot>
    <tr>
     <td colspan='<%= @length %>'><%= term_selector.html_safe %></td>
    </tr>
   </tfoot>
   <tbody>
    <%= render(:partial => "upload/users/data_row", :collection => @data[1..-1]) -%>
    <%= filler_row(@data[1..-1], @length) %>
   </tbody>
  </table>
 </div>
 <%= hidden_field_tag("extension", @upload.extension) %>
 <%= submit_tag 'Upload', :class => 'button' %>
<% end %>
</div>
<div id="secondary">
<h3>Note</h3>
<p>To select a different file to upload, click <%= link_to "here", new_teaching_load_upload_path %></p>
</div>

