<div id="content" class="help">
<h1><%= @page_h1 = "Class Information" -%></h1>
<p>Teachers and administrators can access the following pages to see information about the academic performance of an entire class. Click a link to see more about each page and how to reach it.</p>
 <dl class="notice">
  <dt><%= link_to "Class page", '#section' %></dt><dd>Comprehensive summary of a single class</dd>
  <dt><%= link_to "Assignments", '#assignments' %></dt><dd>Information about every assignment, or a selection of assignments, for one class</dd>
  <dt><%= link_to "Class performance analysis", '#rollbook' %></dt><dd>Scores for every student in a class on every assignment, or a selection of assignments</dd>
  <dt><%= link_to "Assignment detail", '#single_assignment' %></dt><dd>A table showing every student&#8217;s grades on an assignment</dd>
  <dt><%= link_to "Marks", '#class_marks' %></dt><dd>All of the marking period grades and any other marks for the class</dd>
  <dt><%= link_to "Multiple classes", :action => '#multiple' %></dt><dd>Information on multiple classes presented on a single page</dd>
 </dl>
 <%= render(:partial => "class_page") %>
<h3 id="assignments">Assignments</h3>
 <dl>
 <dt>How to get there</dt><dd>Click the <code>Assignments</code> link in a <%= link_to "class page", '#section' %> class summary.</dd>
 <dt>Summary</dt><dd>Information about every assignment, or a selection of assignments, for one class</dd>
 <dt>More information</dt><dd>The assignments page shows the dates assignments were created and when they are due, the point value and average scores, and the category (test, homework, etc) for each assignment. Every assignment also has a link to a page which details the grades earned by each student on that assignment.
 <p>The selection form to the side of the assignment table enables you to choose particular assignments to examine. For instance, you can select assignments due in the past two weeks, assignments worth more than 25 points, or only tests and quizzes, and see whether the class does exceptionally well or poorly on particular kinds of assignments.</p>
 </dd>
 </dl>
<hr/>
 <h3>Class Performance Analysis</h3>
 <dl>
 <dt>How to get there</dt><dd>Click the <code>View Grades on Selected Assignments</code> link on a <%= link_to "class page", '#section' %></dd>
 <dt>Summary</dt><dd>Scores for every student in a class on every assignment, or a selection of assignments</dd>
 <dt>More information</dt><dd>At first glance the student performance page looks a lot like the <%= link_to "assignments", '#assignments' %> page: There is a table of information, and an assignment selection form. The difference is that where the assignment page showed <em>class averages</em> for each <em>assignment</em>, the student performance page shows <em>overall scores</em> for each <em>student</em>. The initial view of the page shows each student&#8217;s marking period grade, but the selection form enables more interesting views of student achievement. For example, you can quickly compare every student&#8217;s grade to the grade counting only tests. If you fill out weekly progress reports for students, you can easily select grades on all assignments due within the past week. The table also has a link to the <%= link_to "detail", :action => 'student_info' %> page for each student in the class.
 </dd>
 </dl> 
 <hr/>
 <h3>Assignment Detail</h3>
 <dl>
 <dt>How to get there</dt><dd>Click an assignment number on the <%= link_to "assignments", '#assignments' %> page</dd>
 <dt>Summary</dt><dd>A table showing every student&#8217;s grades on an assignment</dd>
 <dt>More information</dt><dd>The distribution of grades on the assignment is given in a histogram similar to the one used in the class summary. This page lists other assignment details, including the due date, date assigned, point value, category, description, and the importance of the assignment in the marking period grade (for example, "This assignment represents 10 / 45 (22%) of the classwork points, and 10 / 495 (2%) of the total points, assigned during marking period 1.")
 </dd>
 </dl> 
 <hr/>
 <h3>Marks</h3>
 <dl>
 <dt>How to get there</dt><dd>Click the <code>Marks</code> link on any section page</dd>
 <dt>Summary</dt><dd>A table showing every student&#8217;s <%= link_to "marks", :action => 'grades#marks' %> for the class</dd>
 <dt>More information</dt><dd>When the <%= link_to "academic term", :action => 'term' %> is set up, the <em>marking periods</em> for the term are defined. Teachers are required to turn in grades at the end of each marking period. Additional <em>marks</em> may also be required for every class, such as a semester grade or a final exam. A teacher may also require marks for a class. For instance, if the school requires two marking periods and a cumulative grade, a teacher may add a final exam, and calculate the cumulative grade by taking the average of the first and second marking period and the final.
 </dd>
 </dl> 
 <hr/>
<h3>Multiple Classes</h3>
 <dl>
 <dt>How to get there</dt><% if current_user.is_a?Teacher %><dd>Click the <code>Classes</code> tab to see class summaries for all of your own classes</dd><% else %><dd>Click the name of any subject on the <%= link_to "catalog", :action => 'subject_and_department_info' %> page to see class summaries for every section of that subject</dd><% end %><dd>Click the <code>sections</code> link on a student progress page to see summaries of all of a student&#8217;s classes</dd>
 <dt>Summary</dt><dd>Information on multiple classes presented on a single page</dd>
 <dt>More information</dt><dd>The section summary is a useful way for teachers to </dd>
</div>
<div id="secondary">
<h2>Note</h2>
<p>Administrators can see all of the information described here for any class at the school. Teachers can see the pages that correspond to their own classes. Teachers also have access to <%= link_to "gradebook", :action => 'gradebook' %> pages  that enable them to create and edit assignments and set grades and marks.</p>
</div>
