<div id="content" class="help">
 <h1><%= @page_h1 = "Student Information" -%></h1>
 <p>Little<span class='company'>Red</span>Brick gives staff (teachers and administrators) information about each individual student&#8217;s academic performance on several pages. Click the name of any page to learn more about it.</p>
 <dl class="notice">
  <dt><%= link_to "Student index", '#index' %></dt><dd>Shows the schedules for each student in the school</dd>
  <dt><%= link_to "Class detail", '#detail' %></dt><dd>Comprehensive view of a student&#8217;s performance in one class</dd>
  <dt><%= link_to "Student overview", '#overview' %></dt><dd>Shows the student&#8217;s grade progression in all classes</dd>
  <dt><%= link_to "Class page", '#section' %></dt><dd>An overview of an entire class, with some information about individual performance</dd>
  <dt><%= link_to "Single student marks", '#single_marks' %></dt><dd>All of the student&#8217;s marking period grades and any other marks for the class</dd>
  <dt><%= link_to "Single student assignments", '#single_assignments' %></dt><dd>A table showing the student&#8217;s grades on all assignments</dd>
  <dt><%= link_to "Student&#8217;s sections overview".html_safe, '#student_sections' %></dt><dd>Provides an overview of the class-level performance for all of the student&#8217;s classes</dd>
 </dl>
 <h3 id="index">Student Index</h3>
 <dl>
 <dt>How to get there</dt><dd><code>Students</code> tab</dd>
 <dt>Summary</dt><dd>Shows the schedules for each student in the school</dd>
 <dt>More information</dt><dd>Click any student&#8217;s name to reach that student&#8217;s <%= link_to "student overview", '#overview' %> page. Click the name of a class on the student&#8217;s schedule to see the <%= link_to "class detail", '#detail' %> page.</dd></dl>
 <hr/>
 <h3 id="detail">Class Detail</h3>
 <dl>
  <dt>How to get there</dt><dd>Click any class name on the <%= link_to "student index", '#index' %> page</dd><% if current_user.is_a?(Teacher) %><dd>Teachers can reach this page through the patht <code>Classes</code> tab <span class='arrow'>&rarr;</span> <code>[section name]</code> <span class='arrow'>&rarr;</span> <code>[student name]</code></dd><% end %>
  <dt>Summary</dt><dd>Comprehensive view of a student&#8217;s performance in one class</dd>
  <dt>More information</dt><dd>This is the most informative, and most complex presentation of a single student&#8217;s academic performance, which contains the following pieces of information:
  <ol style="width:600px">
  <li>Marking period grade and class rank</li>
  <li>Links to view grade information for other marking periods</li>
  <li>Points earned in each assignment category created by the teacher</li>
  <li>History of the changes in the student&#8217;s grade over time during the marking period</li>
  <li>Information about recently graded and upcoming assignments</li>
  <% if current_user.is_a?(Teacher) %><li>Recent posts by the student to any topics in the section's discussion group</li><% end %>
 </ol>
 
  <%= image_tag("help/rollbook_#{current_user.is_a?(Teacher) ? 'teacher should break because I need to change the nav' : 'admin'}.png", {:alt => "description", :size => "692x#{current_user.is_a?(Teacher) ? '723' : '284'}"}) %>
 This page links to views of the student&#8217;s performance on all <%= link_to "marks", '#single_marks' %> and <%= link_to "assignments", '#single_assignments' %> in the class, information on each <%= link_to "assignment", 'assignments' %> mentioned on the page, and any <%= link_to "class discussion topics", 'discussions' %> the student has participated in. There are also links to other information, such as the class page, teacher page, and detail pages for the student&#8217;s other classes. There is a button to unenroll the student from the class, which only administrators and the class teacher may see.  <p>Students and parents can also see the information on this page.</p></dd>
 </dl>
 <hr/>
 <h3 id="overview">Student Overview</h3>
 <dl>
  <dt>How to get there</dt><dd>Click a student&#8217;s name on the <%= link_to "student index", '#index' %> page</dd>
  <dt>Summary</dt><dd>Shows the student&#8217;s grade progression in all classes</dd>
  <dt>More information</dt><dd>This page provides a summary of one student&#8217;s performance in all classes. The page lists the names of the teachers and subjects for all the student&#8217;s classes, and links to the <%= link_to "class detail", '#detail' %> page for each class as well. The current marking period grade and the chart of that grade over time is also presented for each class. 
  <p><% if current_user.admin? %>Administrators may click on the name of any teacher to view that teacher&#8217;s <%= link_to "summary", 'teacher_info' %> page, or the name of any class to view its <%= link_to "class", '#section' %> class page.<% end %> The sidebar has some not-academic-but-nice-to-know information about how often the student and parents have logged in to the system, and a link to the student&#8217;s <%= link_to "section overview", '#student_sections' %>. If the next academic term has been set up, there is a link to see and edit the student&#8217;s enrollment for that term, too.</p></dd>
 </dl>
 <hr/>
 <h3 id="section">Class Page</h3>
 <dl>
  <dt>How to get there</dt><dd><code>Students</code> tab <span class='arrow'>&rarr;</span> <code>[section name]</code></dd><% if current_user.is_a?(Teacher) %><dd><code>Classes</code> tab <span class='arrow'>&rarr;</span> <code>[section name]</code></dd><% end %>
  <dt>Summary</dt><dd>An overview of an entire class, with some information about individual performance</dd>
  <dt>More information</dt><dd>This page has a table showing the marking period grade and most recent assignment scores for every student in the class. Click a student&#8217;s name to reach the <%= link_to "section detail", '#detail' %> page for that student.</dd>
 </dl> 
 <hr/>
 <h3 id="single_marks">Student Marks</h3>
 <dl>
  <dt>How to get there</dt><dd><code>View All Marks</code> link on the <%= link_to "section detail", '#detail' %> page</dd>
  <dt>Summary</dt><dd>All of the student&#8217;s marking period grades and any other marks for the class</dd>
  <dt>More information</dt><dd>The marks are presented as percentages and as the equivalent letter grades in the course&#8217;s grade scale.</dd>
 </dl>
 <hr/>
 <h3 id="single_assignments">Student Assignment Performance</h3>
 <dl>
  <dt>How to get there</dt><dd><code>View all assignments</code> link on the <%= link_to "section detail", '#detail' %> page</dd>
  <dt>Summary</dt><dd>A table showing the student&#8217;s grades on all assignments</dd>
  <dt>More information</dt><dd>This page summarizes information on a student&#8217;s performance on all the assignments for a class, including the student&#8217;s score, class average, due date, and more. <%= image_tag("help/student_assignments.png", {:alt => "description", :size => "482x326"}) %>
  The form beside the table can be used to select particular assignments to focus on, by marking period, category, or date range. In the illustration, all of a student&#8217;s assignments for the month of September have been selected.</dd>
 </dl> 
 <hr/>
 <h3 id="student_sections">Sections Overview</h3>
 <dl>
  <dt>How to get there</dt><dd>The link under the "Classes" heading in the sidebar on the <%= link_to "section detail", '#detail' %> page</dd>
  <dt>Summary</dt><dd>Provides an overview of the class-level performance for all of the student&#8217;s classes</dd>
  <dt>More information</dt><dd>The section overview presents the class summary for each of the student&#8217;s classes:<%= render :partial => "class_summary" %>The sections overview page provides a summary like the above for each of a student&#8217;s classes.</dd>
 </dl>
 </div>
