<div id="content" class="help">
<h1><%= @page_h1 = "Academic Department Information" -%></h1>
<p>Administrators can see high-level information about the classes at the school on three pages:
 <dl class="notice">
  <dt><%= link_to "Academic Departments page", '#catalog' %></dt><dd>An overview of enrollment information for every department in the school</dd>
  <dt><%= link_to "Department page", '#department' %></dt><dd>Enrollment information for every subject in a department</dd>
  <dt><%= link_to "Subject page", '#subject' %></dt><dd>Comparison of every section of a given subject</dd>
 </dl></p>
 <h3 id="catalog">Academic Departments</h3>
 <dl>
 <dt>How to get there</dt><dd>Click the <code>Academic Departments</code> link under the <code>Admin</code> tab</dd>
 <dt>Summary</dt><dd>An overview of enrollment information for every department in the school</dd>
 <dt>More information</dt><dd>The academic departments page shows the total enrollment for every department in the school, as well as the number of sections of each subject.</dd></dl>
 <hr/>
 <h3 id="department">Department</h3>
 <dl>
 <dt>How to get there</dt><dd>Click the name of any department on the academic departments page</dd>
 <dt>Summary</dt><dd>Enrollment information for every subject in a department</dd>
 <dt>More information</dt><dd>This page lists the teacher and enrollment for every section of every subject in a department. The name of every subject is a link to its subject page. Every teacher name is a link to a section of the subject taught by that teacher. The page also provides links to every other department page.</dd></dl>
 <hr/>
 <h3 id="subject">Subject</h3>
 <dl>
 <dt>How to get there</dt><dd>Click the name of any subject on its department page</dd>
 <dt>Summary</dt><dd>Comparison of every section of a given subject</dd>
 <dt>More information</dt><dd>Like the pages which compare all of a <%= link_to "student&#39;s classes", :action => 'student_info' %> or all of a <%= link_to "teacher&#39;s classes", :action => 'teacher_info' %>, the subject page has class summaries to compare different sections. In this case, the class summaries are for every section of the same department &ndash; for instance, every section of Algebra I or every section of AP English at the school.<%= render :partial => "class_summary" %></dd></dl>
 
</div>
