<div id="content">
<h1>Next Term Enrollment For <%= person_or_subject %><%= controller_name %></h1>
<%= notice_or_error %>
<%= render(:partial => "section", :collection => @sections) %>
<% if @sections.empty? %>
<p><%= no_sections_msg %></p>
<% end %>
</div>
<div id="secondary">
<h2>Note</h2>
<p>This page is for enrolling students in classes for next term. <% unless @sections.empty? %>Click the links to see total enrollment for all sections belonging to a given student, a given teacher, or a given subject.<% end %></p>
<%= teaching_load_link %>
</div>
