<div id="content" class="help gapless">
<h1>Setup Task 1: Term Setup (Continued)</h1>
<h3>Example Recap</h3>
<p>On the last page, we had set the following attributes of a new school term:
<ul>
 <li>The typical daily schedule runs from periods <strong>1</strong> to <strong>6</strong></li>
 <li>The term has <strong>four 9-week marking periods</strong></li>
 <li>The classes can take place in one of <strong>two tracks</strong></li>
 <li>The first track starts <strong>August 15</strong> and ends <strong>June 1</strong></li>
 <li>The other track starts <strong>September 30</strong> and ends <strong>July 15</strong></li>
</ul></p>
<p>The school also requires teachers to calculate grades for <strong>each semester</strong> and for the <strong>term as a whole</strong>.</p>
<p>Based on the information entered on the last page, the term is created as shown on the term page below:</p>
<%= image_tag("help/new_term.png", {:alt => "description", :size => "618x278"}) %>
<p>The start and end dates for each marking period were calculated automatically from the the dates given for the start and end of the term, and are almost certainly all wrong. There&#8217;s no Christmas Break or Spring Break between marking periods. Also, the marks list has all four marking periods, but not the semester or cumulative marks. If you see problems like this when you create your term, don&#8217;t panic. The guide below will tell you how to make things right.</p>
<h3>Fixing Marking Period Dates</h3>
<p>Click the track number of one of the tracks to edit its marking period dates:</p>
<%= image_tag("help/edit_track.png", {:alt => "description", :size => "410x389"}) %>
<p>Once you have selected the correct start and end dates for each marking period, click "Save Track" to return to the term page shown above.</p>
<h3>Adding Marks</h3>
<p>Once the marking period dates for every track in the term has been fixed, click the <code>Marks</code> link on the term page to add the semester and cumulative marks:</p>
<%= image_tag("help/edit_mark_list.png", {:alt => "description", :size => "764x210"}) %>
<p>Fill in the name of a mark you want to add in the form (in this case, "First Semester"), and indicate where in the list of marks it should be inserted (in this case, after Marking Period 2). You can edit or remove any mark you add to the list.</p>
<p>Once all the marking periods and marks for the term have been set correctly, you can proceed to <%= link_to "adding user accounts", :action_name => 'users' %>.</p>
</div>
<div id="secondary">
<%= setup_task_list %>
</div>
