<% @page_title = 'Edit Account' %>
<div id="content">
 <h1>Edit Account Page Help</h1>
 <% unless params[:id].blank? %>
 <h2>How to get here</h2>
 <p>There is a link to get to the <em>Edit Account</em> page in the top right corner of every page.</p>
 <% end %>
 <h2>The Page</h2>
 <p>The <em>Edit Account</em> page is the place to change your personal login information. <% unless current_user.is_a?Student %>You may also edit your name if it has been misspelled, or set a title (Mr, Mrs, Ms, Sir, etc).<% end %></p>
 <%= render(:partial => "help/page/accounts/password") %>
 <h2>Providing an Email Address</h2>
 <p>You have the option of providing an email address with your account. The only time your email will be used is if you forget your password and request a new one be sent to your email address. (There is a link on the login page to request login information be sent to your email address. The request will send an email that contains a link to your account info page, from which you can enter a login and password of your own choice. Of course, this only works if you have supplied an email address for your account.) You will never get spam from us. We don&#8217;t like it, we don&#8217;t answer it, we won&#8217;t send it.</p>
 <h2>If You Forget Your Login</h2>
 <p>There is a link on the login page to request login information be sent to your email address. The request will send an email that contains a link to the <em>Edit Account</em> page, from which you can enter a login and password of your own choice. Of course, this only works if you have supplied an email address for your account.</p>
 <p>The other option is to ask a school administrator <%= 'or teacher ' if current_user.is_a?(Student) || current_user.is_a?(Parent) %>to reset your login for you. Your login and password would be reset to your full name in lowercase letters: <code><%= current_user.full_name.downcase.gsub(/\s/,'') %></code>.</p>
</div>
<div id="secondary">
<% if current_user.is_a?Staffer %>
<h2>Related Pages</h2>
<p>If you can&#8217;t do what you want on the <em>Edit Account</em> page, maybe you want one of these:</p>
<ul>
 <li><%= link_to "Edit Administrator Page", '/help/page/administrators/edit/redirect' %></li>
 <li><%= link_to "Edit Parent Page", '/help/page/parents/edit/redirect' %></li>
 <li><%= link_to "Edit Student Page", '/help/page/students/edit/redirect' %></li>
 <li><%= link_to "Edit Teacher Page", '/help/page/teachers/edit/redirect' %></li>
</ul>
<hr/>
<% if current_user.is_a?Teacher %>
<h2>Related Topics</h2>
<p>These links are to general information about the site, not help on any specific page.</p>
<ul>
 <li><%= link_to "Class Enrollment", '/help/enrollment' %></li>
 <li><%= link_to "Teaching Assignments", '/help/teaching_load' %></li>
</ul>
<hr/>
<% end %>
<%= render 'help/page/shared/tech_support', :subject => 'editing your account' -%>
<% end %>
</div>

