<% @page_title = 'Discussion Group Participants' %>
<div id="content">
 <h1>Discussion Group Participants Help Page</h1>
 <p>The discussion group participants page lists the name of everyone who has contributed at least one <%= link_to "post", '/help/discussions/posts' %> to the <%= link_to "forums", '/help/discussions/forums' %> for the <%= link_to "group", '/help/discussions/groups' %>. Click on a person&#8217;s name to see all the posts they have submitted recently.</p>
</div>
<% if current_user.is_a?Staffer %>
<div id="secondary">

 <h2>Related Topics</h2>
 <p>These links are to general information about the site, not help on any specific page.</p>
 <ul>
  <li><%= link_to "Forums", '/help/discussions/forums' %></li>
  <li><%= link_to "Topics", '/help/discussions/topics' %></li>
  <li><%= link_to "Posts", '/help/discussions/posts' %></li>
  <li><%= link_to "Moderators", '/help/discussions/moderators' %></li>
  <li><%= link_to "Monitoring", '/help/discussions/monitoring' %></li>
 </ul>
 <hr/>
 <h2>Other Questions?</h2>
 <p>If there is something else you want to ask about discussion group participants, try the <%= link_to "help forums", forums_path('help') %> for Little<span class='company'>Red</span>Brick tech support.</p>
</div>
<% end %>
