<div id="content">
<h1>Edit Subject</h1>
<%= error_messages_for("subject", :message => nil, :header_message => 'There was a problem that prevented the update of this subject') %>
<%= form_tag department_subject_path(@department, @subject), :method => :put do %>
<fieldset>
<legend>Name</legend>
<p>Changing the name of the subject will change the name of every section of the subject.</p>
<%= text_field("subject", "name") %>
</fieldset>
<fieldset>
<legend>Department</legend>
<p>If this subject belongs in a different department, select from this list.</p>
<%= select("subject", "department_id", @departments.collect{|s| [s.name, s.id]}) %>
<%= submit_tag("Save Changes", :class => 'button') %>
</fieldset>
<% end %>
<%= button_to 'Remove Subject', {:action => 'destroy', :id => @subject}, :method => 'delete', :class => 'button' if @subject.sections.empty? %>
<%= link_to "Return to subject page", department_subject_path(@department, @subject) %>
</div>
<% unless @subject.sections.empty? %>
<div id="secondary">
 <h2>Note</h2>
 <p>The subject cannot be removed until every section of it has been deleted.</p>
</div>
<% end %>
