<% @details = student_details %>
<tr>
  <td><%= text_field("details", "first_name", :size => 15, :index => student_details_counter) %></td>
  <td><%= text_field("details", "last_name", :size => 15, :index => student_details_counter) %></td>
  <td><%= text_field("details", "id_number", :size => 10, :index => student_details_counter) %></td>
  <td><%= select("details", "grade", (low..hi), {:include_blank => true}, {:index => student_details_counter} ) %></td>
  <% if @new_people.any?{|u| u.authorization && !u.authorization.errors.empty?} %>
  <td><%= fields_for "details[#{student_details_counter}][authorization]", @details.authorization do |auth| %><%= auth.text_field(:login, :size => 10) %><% end %></td>
  <% end %>
</tr>
