<div id="content">
  <h1><%= @page_h1 = "Enter #{@type.singularize.capitalize} Details" -%></h1>
<%= notice_or_error %>
<%= error_messages_for([@new_people, @new_people.map(&:authorization)], :class => 'ie', :header_message => 'There was a problem creating accounts for these people.') %>
<p>If your school does not assign ID numbers, leave that space blank and numbers will be generated automatically.<noscript> If you want to enter more names than will fit in the form, click the 'Save and enter more people' button.</noscript></p>

<%= form_tag enter_details_path(:id => params[:id]) do %>
<fieldset>
<table>
 <thead>
  <tr>
   <%= detail_header %>
  </tr>
 </thead>
 <tbody id='enter_details_table'>
  <%= @type == 'students'? render(:partial => 'people/enter/student_details', :collection => @new_people, :locals => {:low => @low, :hi => @hi}) : render(:partial => 'people/enter/staff_details', :collection => @new_people) %>
 </tbody>
</table>
<noscript><%= submit_tag("Save and enter more people", :name => 'more', :class => 'button') %></noscript>
<%= submit_tag("Save", :name => 'last', :class => 'button') %>
</fieldset>
<% end %>
</div>
<div id="secondary">
  <%= render(:partial => "people/enter/data_entry_options", :locals => {:id => params[:id]}) %>
  <%= initial %>
</div>


