<div id="content">
<h1>Assignments</h1>
<h2>Questions</h2>
<ol id="questions">
  <li><%= link_to "How do I make an assignment?", '#how_to_assign' %></li>
  <li><%= link_to "How are parents informed about my assignments?", '#parents' %></li>
  <li><%= link_to "What can administrators see about my assignments?", '#admin' %></li>
  <li><%= link_to "What can other teachers see about my assignments (and vice versa)?", '#other' %></li>
  <li><%= link_to "How do I see detailed information for an assignment?", '#review_assign' %></li>
  <li><%= link_to "How do I edit or remove an assignment?", '#how_to_edit_assign' %></li>
  <li><%= link_to "How can I see information on many selected assignments at once?", '#analyzer' %></li>
 <li><span class="question">Want to ask something else? Do you want more than the answers provided here?</span>Ask your question in the <%= link_to "help forums", forums_path('help') %>.</li>
</ol>
<h2 id="answer_header">Answers</h2>
<ol id="answers">
  <li id="how_to_assign"><span class="question">How do I make an assignment?</span>The gradebook page has a table listing student scores for the 5 most recent assignments. After the assignments there is a <%= image_tag("add_16.png", {:alt => "add assignment", :size => "16x16"}) %> link to add an assignment. <%= image_tag("help/add_assignment.png", {:alt => "This is the only link in the first row of the header of the gradebook table", :size => "549x136"}) %></li>
  <li id="parents"><span class="question">How are parents informed about my assignments?</span>As soon as a parent logs in, her front page shows all assignments due in the next week for her child. The parent&#8217;s calendar shows all student assignments as well. After an assignment has been graded, the score is reported on the student&#8217;s class detail page.</li>
  
  <li id="parents"><span class="question">What can administrators see about my assignments?</span>Administrators at your school can see essentially everything about your assignments except the gradebook. They cannot change grades, but they are able to see every score earned by every student.</li>
  <li id="other"><span class="question">What can other teachers see about my assignments (and vice versa)?</span>All teachers may see grades for their own students, in all of those students&#8217; classes. In other words, you can check up on how a student in your math class is doing in his English class by looking at that student&#8217;s English class detail page. You may also see</li>
  <li id="review_assign"><span class="question">How do I see detailed information for an assignment?</span>The <%= link_to "gradebook page", 'gradebooks/#1' %> for a class has a table listing student scores for the 5 most recent assignments, and the <%= link_to "class page", 'classes' %> lists student scores for up to 3 recent assignments. On each of those pages, the assignment number at the top of the score column links to a page that shows more information on that assignment: <%= image_tag("help/assignment.png", {:alt => "an assignment page", :size => "511x225", :style => 'float:right;clear:both'}) %>Likewise, the <%= link_to "assignment analyzer", '#analyzer' %> allows you to generate a table of class averages and other information for selected assignments. Clicking the assignment number at the start of a row of the table will bring you to the same assignment detail page.</li>
  <li id="how_to_edit_assign" style="clear:both"><span class="question">How do I edit or remove an assignment?</span><%= image_tag("help/edit_assignment.png", {:alt => "the link is in the middle of the assignment summary, in the column beginning with the due date", :size => "106x65", :style => 'float:right'}) %>Each <%= link_to "assignment detail page", '#review_assign' %> has a link to edit that assignment. This link is only available to the teacher who created the assignment. The edit page allows the teacher to change the assignment&#8217;s due date, point value, category, and description, or to delete the assignment.</li>
  <li id="analyzer"><span class="question">How can I see information on many selected assignments at once?</span></li>
</ol>
</div>
<div id="secondary">
<h2>Related Topics</h2>
<ul>
 <li><%= link_to "Grades", 'help/grades' %></li>
 <li><%= link_to "Gradebooks", 'help/gradebooks' %></li>
 <li><%= link_to "Marks", 'help/marks' %></li>
 <li><%= link_to "Calendar", 'help/calendar' %></li>
</ul>
</div>
