<div id="content">
 <h1>Discussion Groups</h1>
 <h2>Questions</h2>
<ol id="questions">
 <li><%= link_to "What&#39;s a discussion group?", '#group_def' %></li>
 <li><%= link_to "What&#39;s a forum?", '#forum_def' %></li>
 <li><%= link_to "What&#39;s a topic? ", '#topic_def' %></li>
 <li><%= link_to "What&#39;s a post?", '#post_def' %></li>
 <li><%= link_to "What discussion groups are there?", '#groups' %></li>
 <li><%= link_to "Who can create a forum?", '#5' %></li>
 <li><%= link_to "How is the help discussion group different?", '#6' %></li>
 <li><%= link_to "Who can create a topic in a forum?", '#7' %></li>
 <li><%= link_to "Who can reply to a topic?", '#8' %></li>
 <li><%= link_to "What&#39;s a moderator?", '#9' %></li>
 <li><%= link_to "What does it mean to monitor a topic?", '#10' %></li>
 <li><%= link_to "How can I see everything a person has written in a group?", '#user_posts' %></li>
 <li><span class="question">Want to ask something else? Do you want more than the answers provided here?</span>Ask your question in the <%= link_to "help forums", forums_path('help') %>.</li>
</ol>
<h2 id="answer_header">Answers</h2>
<ol id="answers">
 <li id="group_def"><span class="question">What&#39;s a discussion group?</span>A collection of <%= link_to "forums", '#forum_def' %> in which people at your school can have conversations online. A <%= link_to "group", '#groups' %> can be a class, all teachers, all staff members, or everyone at the school (to name a few examples).</li>
 <li id="forum_def"><span class="question">What&#39;s a forum?</span>A collection of related discussion <%= link_to "topics", '#topic_def' %> grouped together. A staff <%= link_to "discussion group", '#groups' %> could have a forum entitled "staff extracurricular duties", for instance.</li>
 <li id="topic_def"><span class="question">What&#39;s a topic? </span>A subject for discussion, such as, "Does anyone want to volunteer for lunch duty the week before Christmas?"</li>
 <li id="post_def"><span class="question">What&#39;s a post?</span>A reply to a topic, such as, "No".</li>
 <li id="groups"><span class="question">What discussion groups are there?</span>A discussion group is created automatically for every class, and other groups are created automatically for teachers, administrators, and the school in general. Different users can access different groups:
 <table class="scrollike" cellspacing="0">
  <thead>
   <tr><th>User Type</th><th>Help</th><th>School</th><th>Admin</th><th>Staff</th><th>Teachers</th><th>PTA</th><th>Classes</th></tr>
  </thead>
  <tbody>
   <tr class="odd">
    <td>Administrator</td><td>&#x2713;</td><td>&#x2713;</td><td>&#x2713;</td><td>&#x2713;</td><td>&nbsp;</td><td>&#x2713;</td><td title="Teachers may choose whether or not to open class forums to administrators">?</td>
   </tr>
   <tr class="even">
    <td>Teacher</td><td>&#x2713;</td><td>&#x2713;</td><td>&nbsp;</td><td>&#x2713;</td><td>&#x2713;</td><td>&#x2713;</td><td>&#x2713;</td>
   </tr>
   <tr class="odd">
     <td>Student</td><td>&nbsp;</td><td>&#x2713;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#x2713;</td>
   </tr>
   <tr class="even">
    <td>Parent</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&#x2713;</td><td title="Teachers may choose whether or not to open class forums to parents">?</td>
   </tr>
  </tbody>
 </table>Teachers may allow administrators and parents to participate in forums for their classes.
</li>
 <li id="5"><span class="question">Who can create a forum?</span>Any staff member can create a forum for any of their discussion groups<span title="Except the help group.">*</span>. If you can create a forum for a discussion group, there will be a "Create New Forum" link on the right side of the discussion group page.</li>
 <li id="6"><span class="question">How is the help discussion group different?</span>Unlike all the other discussion groups, which focus on your own school, the help discussion group forums offers tech support for any staff member at any school who is having trouble with Little<span class='company'>Red</span>Brick. Since the help forums can be reached by people from all schools, our tech support gnomes are the only ones who can create forums.</li>
 <li id="7"><span class="question">Who can create a topic in a forum?</span>The person who creates a forum can decide whether other members of the discussion group may add topics. For example, an administrator may set up a staff forum for coaches. It would probably be appropriate to leave that forum open so the coaches themselves could discuss whatever topics they wanted. On the other hand, a teacher who set up a forum for extra credit assignments may want to be the only person who could start discussions of those assignments. If you are allowed to create a topic in a forum, you will see a "New topic" link at the bottom of the list of topics for that forum.</li>
 <li id="8"><span class="question">Who can reply to a topic?</span>Anyone who can see the topic can reply to it by clicking the "Reply to topic" link at the bottom of the list of posts. The one exception to that is if the person who created the topic locked it to prevent replies.</li>
 <li id="9"><span class="question">What&#39;s a moderator?</span><div class="notice" style="float:right"><h2>Celebrities Who Could Use a Moderator</h2><ul><li>Rod Blagojevich</li><li>Ozzy Osbourne</li></ul></div>A moderator is a forum member who is empowered to edit or delete topics and posts in the forum. The person who creates a forum is a moderator, and can name any other forum members as moderators as well. The forum page lists moderators on the right side of the page. The forum creator will also see a link to "Add/Remove Moderators". If you are the moderator for a forum, when you read a topic page, you will see an "Edit Post" link in every post.</li>
 <li id="10"><span class="question">What does it mean to monitor a topic?</span>When you log in, the home page has a brief summary of the most recent posts in all of your discussion groups' forums. If your school's discussion groups get really active, it can become hard to keep up with all of them, but there may be some topics that really interest you. To prioritize a topic like that so it gets highlighted on the front page, click the "monitor topic" checkbox on the right side of the topic page.</li>
 <li id="user_posts"><span class="question">How can I see everything a person has written in a group?</span></li>
</ol>

</div>
