<div id="content" class="help">
 <h1>Frequently Asked Questions</h1>
 <dl class="notice">
  <dt><%= link_to "Administrators", 'admin' %></dt><dd>What administrators can do, and how to create accounts for them</dd>
  <dt><%= link_to "Accessibility", 'accessibility' %></dt><dd>How to make the site easier to read</dd>
  <dt><%= link_to "Accounts", 'account' %></dt><dd>Changing logins and passwords</dd>
  <dt><%= link_to "Assignments", 'assignments' %></dt><dd><%= current_user.is_a?(Teacher) ? 'Creating and editing' : 'Seeing' %> assignments and grades</dd>
  <dt><%= link_to "Calendar", 'calendar' %></dt><dd>What you can put on the calendar and who can see it</dd>
  <dt><%= link_to "Classes", 'classes' %></dt><dd><%= current_user.is_a?(Staffer) ? 'Setting up, enrolling students in, and s' : 'S' %>eeing information about your<%= ' school&#8217;s' if current_user.admin? %> classes</dd>
  <dt><%= link_to "Discussions", 'discussions' %></dt><dd>What they are, how they work</dd>
  <dt><%= link_to "Grades", 'grades' %></dt><dd>Where you see them <%= ', and how you create them' if current_user.is_a?Teacher %> </dd>
  <dt><%= link_to "Students", 'students' %></dt><dd>What students can and cannot do in the site</dd>
  <% if current_user.is_a?(Teacher) %>
  <dt><%= link_to "Teacher", 'teacher' %></dt><dd>What you can and cannot do in the site</dd>
  <% elsif current_user.admin? %>
  <dt><%= link_to "Teachers", 'teachers' %></dt><dd>What teachers can and cannot do in the site</dd>
  <% end %>
 </dl>
</div>
