<div id="content">
<h1>Users</h1>
<h2>Questions</h2>
<ol id="questions">
 <li><%= link_to "What kind of user accounts are there?", '#user_types' %></li>
 <% if current_user.admin? %>
 <li><%= link_to "What information can I see about administrators?", '#admin_see' %></li>
 <li><%= link_to "What information can I see about teachers?", '#teacher_see' %></li>
 <% end %>
 <li><%= link_to "What information can I see about students?", '#student_see' %></li>
 <li><%= link_to "What information can I see about a parent?", '#parent_see' %></li>
 <li><span class="question">Want to ask something else? Do you want more than the answers provided here?</span>Ask your question in the <%= link_to "help forums", forums_path('help') %>.</li>
</ol>
<h2 id="answer_header">Answers</h2>
<ol id="answers">
 <li id="#user_types"><span class="question">What kind of user accounts are there?</span>There are four user account types in Little<span class='company'>Red</span>Brick:
  <ul>
   <li><span class="annotation">Teachers</span> make the site valuable for everyone by entering <%= link_to "assignment", 'assignments' %> and <%= link_to "grade", 'grades' %> data. They can analyze this data in terms of <%= link_to "class performance", 'classes' %>, <%= link_to "assignment analysis", 'assignments' %>, or view <%= link_to "individual students", 'grades#rollbook' %>.</li>
   <li><p><span class="annotation">Administrators</span> can see virtually all of the site. Administrators can see and edit <%= link_to "account information", 'account' %> for every user at the school, <add user accounts>, set up <%= link_to "academic terms", 'terms' %>, and view <academic data> at many levels from <%= link_to "department", 'classes#dept_info' %>-wide to the performance of <%= link_to "one student in a class", 'grades#rollbook' %>. Like other users, they can also <%= link_to "manage a calendar", 'calendar' %> and participate in <%= link_to "discussion groups", 'discussions' %>.</p>
   <p>The only things they cannot do are change a teacher's grades or assignments, or see the teachers-only discussion group (or the class-specific discussion groups, unless a teacher opens those discussions to administrators).</p>
   </li>
   <li><span class="annotation">Students</span> can see academic information about themselves such as current grades, grade history, and details on assignments including upcoming due dates and all past scores. Students can also join in <%= link_to "discussion groups", 'discussions' %> for their classes and for the school as a whole. </li>
   <li><span>Parents</span> can see the same academic information as their children, and participate in certain <%= link_to "discussion groups", 'discussions' %>.</li>
  </ul>
  In addition, all users can manage their own <%= link_to "calendars", 'calendar' %> and their own <%= link_to "accounts", 'account' %>.
 </li>
 <% if current_user.admin? %>
 <li id="admin_see"><span class="question">What information can I see about  administrators?</span>Click the "Admin" tab <span class='arrow'>&rarr;</span> "Administrators" to see a list of everyone at the school who has admin privileges. The list will include all administrators, and any teachers who have been given admin privileges. The last login for each admin is also displayed on the list. Click an admin's name to see a login history.</li>
 <li id="teacher_see"><span class="question">What information can I see about teachers?</span>Click the "Teachers" tab to see a table listing every teacher at your school with their daily class schedules.</li>
 <% end %>
</ol>
</div>
