<div id= 'content'>
<h1><%= @page_h1 = 'Academic Departments' %></h1>
<%= notice_or_error %>
<p>The following table lists all the departments that have been created for your school, with their subjects. <% if params[:term] %><% else %>Click on any department name to see more information on the number of sections of each subject. Click on a subject name to see detailed information about each section of that subject.<% end %></p>
<table id='subjects' class='scrollike'>
 <thead>
  <tr>
   <th>Department (<abbr title='Total number of students taking classes in a department. Note that a student enrolled in two different classes in a department is counted twice.'>Enrollment</abbr>)</th>
   <th id='enrollment'>Subjects<br /> (Sections)</th>
  </tr>
 </thead>
 <% if current_user.admin? %>
  <tfoot>
    <tr><td colspan='2' class='text'><%= link_to "New Department", new_department_path, :title => 'Click to create a new department and its subjects' %></td></tr>
  </tfoot>
 <% end %>
 <tbody>
  <%= render(:partial => "department", :collection => @departments) %>
 </tbody>
</table>
</div>
<div id="secondary">
<%= initial %>
<% if params[:term] %>
<h2>Note</h2>
<p>The enrollment and section data are for the next term. Click <%= link_to "here", departments_path %> to see the data for the current term.</p>
<% if current_user.admin? %>
<hr/>
<p>To set sections for the next term, go to <%= link_to "teachers", teachers_path(:term => 'future') %> &gt; teacher &gt; edit teaching load.</p>
<% end %>
<% elsif @school.terms.count > 1 %>
<h2>Note</h2>
<p>The enrollment and section data are for the current term. Click <%= link_to "here", (departments_path + '?term=future') %> to see the data for the next term.</p>
<% end %>
</div>
