<!--[form:event]-->
<ul id='event'>
  <li><label for="event_name">Name</label><%= form.text_field 'name' %></li>
  <li><label for='event_date'>Date</label><%= datebocks_field 'event', 'date' %></li>
  <% if @user.is_a?(Staffer) %>
  <li style='clear:left'><label for='audience' title='Who should know about this event?'>Audience</label>
  <%= select_tag "audience", options_for_select([['Just me', 'User'], ['The whole school', 'School'], ['All teachers', 'Teachers'], ['All staff members', 'Staff']] + (@sections.map{|s| [s.name_and_time(false), s.id]})) %></li>
  <% elsif @user.is_a?(Parent) %>
  <li style='clear:left'><label for='audience' title='Who should know about this event?'>Audience</label>
  <%= select_tag "audience", options_for_select([['Just me', 'User'], ['My whole family', 'Family']]) %></li>
  <% end %>
  <li style='clear:left'><label for="event_description">Description
  <span class='explanation'>(optional)</span></label><%= form.text_area 'description', :cols => '50', :rows => '5' %></li>
</ul>


<!--[eoform:event]-->
