<fieldset>
<%= form_tag({}, {:method => :get, :id  => 'event_selection'}) do %>
  <% unless @assignments_and_grades.empty? %>
   <h2>Show Assignments For</h2>
   <ul>
   <% @assignments_and_grades.index_by(&:section_id).values.sort_by{|a| a.section.time}.each do |assignment| %>
    <li class="<%= class_for(assignment) %>">
     <label for='assignment_<%= assignment.section_id %>'><%= assignment.section.name_and_time(false) %></label>
     <%= check_box_tag("assignment_#{assignment.section_id}", 1, true, {:class => "assignment_#{assignment.section_id}"}) %>
    </li>
   <% end %>
   </ul>
  <% end %>
  <% unless @academic_events.empty? && @nonacademic_events.empty? %>
   <h2>Show Events For</h2>
   <ul>
   <% @academic_events.map{|e|e.invitable_id}.uniq.each do |section_id| %>
    <li class="<%= class_for(@academic_events.detect{|e|e.invitable_id == section_id}) %>">
     <label for='section_<%= section_id %>'><%= @sections.detect{|s| s.id == section_id}.name %></label>
     <%= check_box_tag("section_#{section_id}", 1, true, {:class => "event_#{section_id}"}) %>
    </li>
  <% end %>
  <% @nonacademic_events.map{|e|e.invitable_type}.uniq.each do |audience| %>
   <li class="<%= class_for(@nonacademic_events.detect{|e| e.invitable_type == audience}) %>">
    <label for='event_<%= audience %>'><%= audience == 'User' ? 'Personal' : audience %></label>
    <%= check_box_tag("event_#{audience}", 1, true, {:class => "event_#{audience.downcase}"}) %>
   </li>
  <% end %>
  </ul>
 <% end %>
 <noscript><%= submit_tag("Select Events", :class => 'button') %></noscript>
 <% end %>
</fieldset>
