<fieldset>
 <legend>Children</legend>
 <p id="top">The following <%= @school.name %> students have been entered into the system as your children.<%= first_time_parent  %> Please check the names, correct any spelling errors,<%= remove_children %> and add any of your children who are enrolled at <%= @school.name %> but aren&#8217;t on the list. If you are adding children, you do not need to know the ID number unless it turns out there are two or more children at the school with the same name.</p>
 <table>
  <tr>
   <th>First Name</th>
   <th>Last Name</th>
   <th>ID Number</th>
   <th>Grade</th>
  </tr>
  <%= render(:partial => "kid", :collection => @kids) %>
 </table>
 <%= parent_gender(f)  %>
 
</fieldset>
