<% new_or_existing = kid.parents.to_a.include?(@user) ? 'existing' : 'new' %>
<% prefix = "user[#{new_or_existing}_child_attributes][]" %>
<%= fields_for prefix, kid do |child_form| %>
 <tr>
  <td><%= child_form.text_field :first_name, {:size => 15} %></td>
  <td><%= child_form.text_field :last_name, {:size => 15} %></td>
  <td><%= child_form.text_field :id_number, {:size => 10} %></td>
  <td><%= child_form.select(:grade, @school.low_grade..@school.high_grade) %></td>
 </tr>
<% end %>
