<% @page_title = 'Request Password' %>
<div id="content">
<h1>Alternate Login</h1>
<p>Fill out this form to log in from your email account.</p>
<%= notice_or_error %>
<%= form_tag reset_password_account_path do -%>
 <fieldset>
  <legend>Email</legend>
  <label for='email'>Email Address<%= text_field_tag :email %></label>
  <%= submit_tag 'Request Login', :class => 'button' %>
 </fieldset>
<% end -%>
<%= link_to "Back to login page", login_path %>
</div>
