<% @page_title = 'Search Posts' %>
<div id="content">
 <h1>Search Posts Help Page</h1>
 <p>Searching a <%= link_to "forum", '/help/discussions/forums' %> or <%= link_to "discussion group", '/help/discussions/groups' %> turns up a collection of all the <%= link_to "posts", '/help/discussions/posts' %> that have the term or phrase you&#8217;re looking for.</p>
 <h2>Post Format</h2>
 <p> Each post lists the forum and topic it came from, and its author.</p>
  <table border="0" cellspacing="0" cellpadding="0" class="posts wide beast">
 <tr class="post hentry">
  <td class="author vcard">
    <a href="#">Forum link</a> <span class='arrow'>&rarr;</span> <a href="#">Topic link</a><br/><a href="#" class="threadauthor fn">Mr Example</a><span class="admin">Moderator </span><span class='posts'>21 posts</span>
    <div class="date">
      <abbr class="updated" title="<%= Time.now.strftime("%b %d, %I:%M%p") %>">Post added <%= Date.today.strftime("%b %d, %Y") %></abbr>
    </div>
    <span class="edit"> 
      <a href="#">Edit Post</a>
    </span>
  </td>
  <td class="body entry-content"><p>Links are provided to the topic and forum to which each post was added. The post author&#8217;s name is a link to his <%= link_to "participant page", '/help/discussions/page/users/show' %></p></td>
 </tr>
</table> 
</div>
<% if current_user.is_a?Staffer %>
<div id="secondary">
  <%= render 'help/page/shared/discussion_related' -%>
  <%= render 'help/page/shared/tech_support', :subject => 'editing posts' -%>
</div>
<% end %>
