<div id="content" class="help">
<h1>Setup Help</h1>
<p>There are five steps to set up your school&#8217;s Little<span class='company'>Red</span>Brick account:</p>
<ol>
  <li><%= link_to "Set up the academic term", { :action_name => 'term' }, :title => 'Click to read a description of an academic term' %> [<%= link_to "video", '/help/video/setup_term', :title => 'Click to see a video on setting up a term' %>]</li>
 <li><%= link_to "Create user accounts", :action_name => 'users' %> [<%= link_to "video", '/help/video/setup_accounts', :title => 'Click to see a video on creating student, teacher, and administrator user accounts' %>]</li>
 <li><%= link_to 'Define the departments and subjects in your school&#39;s course catalog'.html_safe, :action_name => 'catalog' %> [<%= link_to "video", '/help/video/setup_catalog', :title => 'Click to see a video on setting up a course catalog' %>]</li>
 <li><%= link_to "Set teaching assignments for faculty", :action_name => 'teaching_load' %> [<%= link_to "video", '/help/video/setup_teaching_schedules', :title => 'Click to watch a video on assigning classes to teachers' %>]</li>
 <li><%= link_to "Enroll students in classes", :action_name => 'enrollment' %> [<%= link_to "video", '/help/video/setup_enrollment', :title => 'Click to see a video on enrolling students in classes' %>]</li>
</ol>
<p>The last two tasks can be given to the teachers themselves. Depending on how much information you have available in other computer files to copy or upload, the whole process can take as little as half an hour. <%= link_to "Go back", home_path %></p>
</div>
<div id="secondary">
<%= setup_task_list %>
</div>
