<% @rg = rg %>
<%= content_tag_for :li, @rg  do %>
 <%= link_to_unless(uneditable(@rg), @rg.description, edit_term_reported_grade_path(@term, @rg)) %>
  <% unless uneditable(@rg) %>
   <table style="display:none">
   <tr>
    <% unless @rg.description =~ /arking/  %>
     <td><%= form_tag(term_reported_grade_path(@term, @rg), {:class => 'edit', :method => :put}) do %>
      <%= text_field("rg", "description", :size => 15) %>
      <%= submit_tag 'Edit', :class => 'button' %>
     <% end %></td>
    <% end %>
    <td><%= button_to 'Delete', term_reported_grade_path(@term, @rg), {:method => :delete, :class => 'button delete'} %></td>
    <td><%= link_to "cancel", '#', :class => 'cancel' %></td>
   </tr>
   </table>
 <% end %>
<% end %>
