<div id="content">
<h1>Edit <%= @rpg.description %></h1>
<%= form_tag(term_reported_grade_path(@term, @rpg), {:id => 'edit_form', :method => :put}) do %>
<%= error_messages_for("rpg") %>
<fieldset>
<legend id='edit'>Edit Grade</legend>
<ul>
 <li>
  <label for='rpg_description'>Rename grade</label><%= text_field("rpg", "description", :size => 15) %>
 </li>
</ul>
  <%= submit_tag 'Edit Grade', :class => 'button' %>
</fieldset>
<% end %>
<%= link_to "Cancel", term_reported_grades_path(@term) %>
<%= button_to 'Delete', term_reported_grade_path(@term, @rpg), {:method => :delete, :class => 'button'} unless @undeletable %>
</div>
