<div id="content">
<h1><% @page_h1 = "New #{@forum.name} Forum Topic"[] %></h1>

<p class="subtitle"><%= 'by {user}'[:by_user, current_user.display_name] %></p>

<%= error_messages_for :topic, :class => 'ie' %>
<%= form_for :topic, :url  => forum_topics_path(@discussable, @forum) do |f| -%>
<%= render :partial => "form", :object => f %>
<% end -%>
<%= link_to('Cancel'[], forum_path(@discussable, @forum)) %>

<%= javascript_tag "$('topic_title').focus();" %>
</div>
<div id="secondary">
<h2>Topic Definition</h2>
<dl id='forum_def'>
<dt>Title</dt>
<dd>A one-line summation of the topic</dd>
<% if admin? %>
<dt>Sticky</dt>
<dd>Mark this if you want the topic to remain at the top of the forum&#39;s topic list</dd>
<dt>Locked</dt>
<dd>Mark this if you want to prevent replies to the topic</dd>
<% end %>
<dt>Body</dt>
<dd>The topic</dd>
</dl>
</div>
