<div id="content">           <% #TODO wtf h1 -%>
  <h1><%= link_to "#{@section.name} Attendance", section_attendance_path(@section), :title => 'Click to see attendance for the whole class' -%>| <%= link_to @student.full_name, attendance_path(@student), :title => "Click to see #{@student.first_name}'s attendance in all classes" %></h1>
 <% begin %>
  <% @date ||= @start %>
  <% @iterator ||= 0 %>
  <div class="absence_calendar">
   <h3><%= @date.strftime("%B") %></h3>
   <%= month_calendar(@date.year, @date.month).html_safe %>
  </div>
  <% @date = @date.next_month %>
  <% @iterator += 1 %>
  <%= '<hr style="float:left; width:90%"/>'.html_safe if @iterator % 3 == 0 %>
  <% end while @date <= @finish %>
</div>
<div id="secondary">
<h2>Change Student</h2>
<ul>
 <% for student in @section.students %>
 <li><%= link_to_unless_current student.last_first, rbe_attendance_path(@section, student), :title => "Click to see attendance information for #{student.first_name}" %></li> 
 <% end %>
</ul>
</div>
