<div id="content">
<h1><%= @page_title = "Describe Uploaded File" %></h1>
<%= notice_or_error %>
<%= error_messages_for("upload") %>
<% @length = @data.map(&:length).max - 1 %>
<%= form_tag users_upload_path(@type) do %>
  <label id="first_row_toggle" for="header_row"><%= check_box_tag :header_row, true, false %>Make an account out of the data in the first row</label>
 <div class="scrollableTable" id="taller">
  <table cellspacing = 0>
   <thead>
    <tr><th colspan = '<%= @length + 1 %>' id = 'assign_head'>File Contents</th></tr>
    <%= render(:partial => "data_row", :object => @data[0], :locals => {:header => true}) -%>
   </thead>
   <tfoot>
    <tr><%= render(:partial => "selection", :collection => (1..@length + 1).to_a) -%></tr>
   </tfoot>
   <tbody>
    <%= render(:partial => "data_row", :collection => @data[1..-1]) -%>
    <%= filler_row(@data, 6) %>
   </tbody>
  </table>
 </div>
 <%= hidden_field_tag("extension", @upload.extension) %>
 <%= submit_tag 'Set Up Accounts', :class => 'button' %>
<% end %>
</div>
<div id = 'secondary'>
<%= render(:partial => "people/enter/data_entry_options", :locals => {:id => @type}) %>
<%= initial %>
</div>
