<ul>
  <li><label for='forum[name]'><%= 'Name'[:title_title] %></label>
    <%= form.text_field :name, :class => "primary" %></li>
    <li><label for='forum[position]'><%= 'Position'[:position_title] %></label>
    <%= select("forum", "position", (@positions || [1])) %>
    <li><label for='forum[description]'><%= 'Description'[:description_title] %></label>
    <%= form.text_area :description, :rows => 5, :columns => 25 %></li>
    <li><label for='forum[open]'><%= 'Anyone should be able to create topics' %></label>
    <%= form.select("open", ['true', 'false'], :selected => @forum.open.to_s) %></li>
</ul>


