<div id="content">
  <h1><%= @page_h1 = "#{@forum.name.titleize} Forum" %></h1>
<p class="subtitle">
  <%= '{count} topic(s)'[(count=@forum.topics_count)==1 ? :topic_count : :topics_count, number_with_delimiter(count)] %>,
  <%= '{count} post(s)'[(count=@forum.posts_count)==1 ? :post_count : :posts_count, number_with_delimiter(count)] %>
</p>

<% if @topics.total_pages > 1 -%>
<p style="float:right; margin-top:0;"><%= link_to 'New topic'[], new_forum_topic_path(@discussable, @forum) %></p>
<%= pagination @topics %>
<% end -%>
<%= notice_or_error %>
<table border="0" cellspacing="0" cellpadding="0" class="wide topics beast">
<thead>
 <tr>
  <th class="la" colspan="2"><%= 'Topic'[:topic_title] %></th>
  <th width="1%"><%= 'Posts'[:posts_title] %></th>
  <th width="1%"><%= 'Views'[:views_title] %></th>
  <th class="la"><%= 'Last post'[:last_post] %></th>
 </tr>
</thead>
<tbody>
 <%= render(:partial => "topic", :collection => @topics) %>
</tbody>
</table>

<%= next_page @topics %>
<%= pagination @topics %>
<% if @forum.open || current_user.owns?(@forum) %>
<p><%= link_to 'New topic'[:new_topic], new_forum_topic_path(@discussable, @forum) if current_user.may_participate_in?(@discussable) %></p>
<% end %>
</div>
<div id="secondary">

<% unless @forum.description.blank? %>
  <h2>Forum Description</h2>
  <%= @forum.description_html.html_safe %>
<% end %>
<% if current_user.owns?(@forum) %>
  <p><%= link_to 'Edit Forum', edit_forum_path(@discussable, @forum) %></p>
  <hr />
<% end %>
<h2 title='People allowed to edit posts'><%= 'Moderators'[:moderators] %></h2>

<ul class="flat">
<% @forum.moderators.each do |user| -%>
  <li><%= reader_link(@discussable, user) %></li>
<% end -%>
  <li><%= link_to "Add/Remove Moderators", forum_moderators_path(@discussable, @forum) if current_user.owns?(@forum) %></li>
</ul>

</div>
