<div id="secondary">
 <h2>Discussion Groups</h2>
 <p>A <strong><%= link_to_unless_current "discussion group", :controller_name => 'discussions', :action_name => 'groups' %></strong>  can contain many <strong><%= link_to_unless_current "forums", :action_name => 'forums' %></strong>.</p>
 <p>A <strong><%= link_to_unless_current "forum", :action_name => 'forums' %></strong> can contain many <strong><%= link_to_unless_current "topics", :action_name => 'topics' %></strong>.</p>
 <p>A <strong><%= link_to_unless_current "topic", :action_name => 'topics' %></strong> can contain many <strong><%= link_to_unless_current "posts", :action_name => 'posts' %></strong>.</p>
 <hr/>
 <p>Keeping objectionable content out of the discussion groups is the responsibility of the <strong><%= link_to_unless_current "moderators", :action_name => 'moderators' %></strong>.</p>
 <hr/>
 <p>To keep an eye on interesting topics, <strong><%= link_to_unless_current "monitor", :action_name => 'monitoring' %></strong> them.</p>
 <hr/>
 <p>To see everything a particular person wrote in a forum, click the person&#8217;s <strong><%= link_to_unless_current "name", :action_name => 'readers' %></strong> anywhere you see it in the forum.</p>
</div>
