<div id="content">
<h1>Discussions</h1>
<p>The discussion page will be familiar to anyone who has experience with internet forums, except hopefully with less swearing. For those who haven't, the next paragraph is for you.</p>
<p>Internet forums work like multiperson conversations over email. One person announces a topic to a group, and anyone else in the group can reply to it. Then anyone in the group can respond to the replies. Eventually, someone is compared to Hitler. We'll try to skip that last step. Multiple related topics are stored together in collections called "forums" (though they should be called "fora").</p>
<p>The main discussion page at Little<span class='company'>Red</span>Brick lists the discussion groups you may access. Briefly, they are:</p>
<table class="scrollike" cellspacing="0">
 <thead>
  <tr><th>Group</th><th>Members</th></tr>
 </thead>
 <tbody>
  <tr class="odd">
    <td>Help</td><td>Staff (Administrators and Teachers), <i>all schools</i> (and tech support)</td>
  </tr>
  <tr class="even">
   <td>School</td><td>Staff and students from your school</td>
  </tr>
  <tr class="odd">
   <td>Staff</td><td>Staff from your school</td>
  </tr>
  <tr class="even">
   <td>Administrators</td><td>Administrators (excluding teachers with admin privileges) from your school</td>
  </tr>
  <tr class="odd">
   <td>PTA</td><td>Parents and staff from your school</td>
  </tr>
 </tbody>
</table>
<p>Note the Administrators discussion group is the one aspect of the site which distinguishes between users with Administrator accounts and teachers with admin account privileges.</p>
<p>Each group has a short description, the total number of posts (topics + replies) in all fora in the group, and the last post added.</p>
<p>When you click the name of a group, you will be presented with a list of fora. A <%= link_to "forum", :action => 'forums' %> is a collection of related <%= link_to "topics", :action => 'topics' %>. For example, the "School" discussion group might have a forum called "Sports", with topics like "Spirit Week Ideas". The "PTA" discussion group might have a forum called "Graduation Requirements", with topics like "Community Service" and "Passing the State Exam".</p>

<p>As an administrator, you may <%= link_to "create new forums", :action => 'forums' %> for any discussion group, <%= link_to "new topics", :action => 'topics' %> within those forums, and <%= link_to "post replies", :action => 'posts' %> to topics.</p>

</div>
