<tr><td colspan='<%= @colspan + 3 %>' class='text'>No students have been enrolled in this class.</td></tr>
<tr><td colspan='<%= @colspan + 3 %>' class='text'>To enroll a student, click the 'add student' link at the bottom of the table.</td></tr>
<% if false %>
<tr><td colspan='<%= @colspan + 3 %>' class='text'>Enrolled students will be displayed in this table along with their current marking period grade, scores on the last 3 assignments, and the number of posts they have made in forums set up for the class.</td></tr>
<% 1.upto(10) do |n| %>
<tr><td colspan='<%= @colspan + 3 %>'>this is a row for student <%= n %></td></tr>
<% end %><% end %>
