<%= '<hr class="split"/>'.html_safe if section_counter > 1 && section_counter % 3 == 0 %>
<div class="section" <%= 'style="clear:left;padding-left:0; border:0"'.html_safe if section_counter % 3 == 0 %>>
 <%= section_title(section) %>
 <% if session[:initial].nil? %>
 <dl>
  <dt>Average Grade</dt> <dd class="big" <%= 'title="No grades have been calculated yet for this marking period"' if section.average=='NA' %>><%= grade_with_precision(section.average) %></dd>
  <dt>Enrollment</dt> <dd><%= section.enrollment %></dd>
  <dt style="float:none">Grades</dt>
  <dd style="clear:left;float:left;padding-left:0">
  <dl class="distribution" style="clear:none">
   <dt>Distribution</dt>
   <dd><%= histogram(section.grade_distribution.values.collect(&:grade), section.grade_scale).html_safe %></dd>
  </dl>
  </dd>
  <dd style="float:left;width:45%;padding-left:17px">
  <dl class="distribution">
   <dt>Scale</dt>
   <dd>
    <dl class="grade_scale">
    <% section.grade_scale.reverse.each do |range, grade| %>
     <dt><%= grade %></dt><dd><%= rangify(range) %></dd>
    <% end %>
    </dl>
    <% if current_user.teaches?(section) %><dd><%= link_to "Edit Grade Scale", edit_section_path(section, :grade_scale => '') %></dd><% end %>
   </dd>
  </dl>
  </dd>
  <hr/>
  <dt class="wide hr">Number of Assignments</dt>
  <% @mp_query = '?' + (1..@mp_position).map{|n| "mp[]=#{n}"}.join('&') if @mp_position %>
  <dd class="wide"><%= link_to_if current_user.may_see?(section), section.assignments.size, section_assignments_path(section) + (@mp_query || ''), :title => 'Click to see every assignment that has been created for this class' %>
    <% unless section.assignments.size == section.assignments.current.length %>
    (<%= link_to_if((section.assignments.current.size != 0 && current_user.may_see?(section)), "#{section.assignments.current.size} this marking period", section_assignments_path(section, :mp => @mp_position)) %>)
    <% end %>
  </dd>
  <dt class="wide">Point Distribution</dt>
  <dd class="wide">
   <% if section.point_distribution.empty? %>
    No Assignments
   <% else %>
    <%= pie_chart(section.point_distribution) %>
   <% end %>
  </dd>
  <dt>Last Graded</dt> <dd class="assign_stats"><%= last_assignment_link(section) %></dd>
  <dt>Average Score</dt> <dd class="assign_stats"><%= last_assignment_grade(section) %></dd>
   <dt>Due</dt> <dd class="assign_stats"><%= section.assignments._last.date_due.strftime("%a %b %d") rescue 'N/A' %></dd>
   <dt>Next Due</dt> <dd class="assign_stats"><%= section.assignments._next.title %><%= "(#{section.assignments._next.point_value} points)" unless section.assignments._next.new_record? %></dd>
 </dl>
 <h3><%= link_to_if current_user.may_access_forum_for?(section), "Class Discussions", forums_path(section), :title => 'Click to see the forums that have been created for this class' %></h3>
 <%= section.topics_count %> topics | <%= section.posts_count %> responses<br />
 <% if section.posts_count > 0 %>(last response <%= time_ago_in_words(section.last_post.updated_at) %> ago) <% end %>
 <% else %>
 <dl>
  <dt>Enrollment</dt> <dd><%= section.enrollment %></dd>
 </dl> 
  <% end %>
</div>
