<div id="content">
<h1>Edit Section</h1>
<%= form_tag section_path(@section), :method => :put do %>
<% unless @lo.nil? %>
 <fieldset>
<legend>Period</legend>
<p>Set the period this section meets (1st, 2nd, etc)</p>
<%= select("section", "time", (@lo..@hi), :selected => @section.time.to_i) %>
</fieldset>
<% end %>
 <fieldset>
<legend>Subject</legend>
<p>If this section should belong to a different subject, choose the subject from the following list. (If the section should belong to a subject in a different department, click <%= link_to "here", edit_teaching_load_path(@teacher) %> to edit <%= his_or_your.html_safe %> teaching load.</p>
<%= select("section", "subject_id", @subjects.collect{|s| [s.name, s.id]}) %>
</fieldset>
<% if @teachers.length > 1 -%>
<fieldset>
<legend>Teacher</legend>
<p>If this section should be transferred to a different teacher, select from this list.</p>
<%= select("section", "teacher_id", @teachers.collect{|t| [t.full_name, t.id]}) %>
<%= submit_tag("Save Changes", :class => 'button') %>
</fieldset>
<% else -%>
<%= submit_tag("Save Changes", :class => 'button') %>
<% end %>
<% end %>


<%= link_to "Return to section page", section_path(@section) %>
</div>
<div id="secondary">
<h2>To add/remove students</h2>
<p>Go to the rollbook table on the <%= link_to "section", section_path(@section) %> page</p>
<% if current_user.teaches?(@section) %>
<h2>To change assignments or grades</h2>
<p>Go to the <%= link_to "gradebook", section_gradebook_path(@section) %> page</p>
<% end %>
</div>
