<div id='content'>
<h1><%= @subject.name %><%= time %></h1>
<% if session[:initial].nil? %>
<h2>Marking Period <%= marking_period_links %></h2>
<% else %>
<h2>&nbsp;</h2>
<% end %>
<h2 id="section_subhead"><%= teacher_or_gradebook %></h2>
<%= render(:partial => "section", :collection => [@section]) %>
<div class='students'<%#= ' style="margin-top:-96px"' if flash[:notice] %>>
<h2>Rollbook</h2>
<%= notice_or_error %>
<div class="scrollableTable" id="taller">
<table class="sortable" cellspacing='0'>
 <thead>
  <tr>
    <th title="Click a student&#8217;s name to see more details about his/her performance in this class.">Student</th>
    <th title="Note these grades are for marking period <%= @mp_position %>. To see grades for a different marking period, click a number below.">Marking Period</th><% @colspan = [1, @recent_assignments.length].max %>
    <th colspan='<%= @colspan %>'>Recent Scores</th>
    <th title="The number of posts each student has made on any discussion topics <%= @teacher.display_name %> has set up for this class">Posts</th>
  </tr>
  <tr>
    <th class='student'>Name</th>
    <th><%= marking_period_links %></th>
    <% for assignment in @recent_assignments %>
    <th class='score'><%= link_to "#{assignment.position} (#{assignment.point_value})", section_assignment_path(@section, assignment), :title => "#{assignment.title} (due #{assignment.date_due.strftime("%a %b %d")})" %></th>
    <% end %>
    <%= th '&nbsp;'.html_safe if @recent_assignments.empty? %>
    <th>&nbsp;</th>
  </tr>
 </thead>
 <tfoot>
  <tr>
   <td class='text'><%= link_to "Add student", new_section_enrollment_path(@section) %></td>
   <td colspan='<%= @colspan + 2 %>'><%= unenrollment_link %></td>
  </tr>
 </tfoot>
 <tbody>
  <%= render(:partial => "student", :collection => @students) %>
  <%= render(:partial => "initial") if @students.empty? %>
  <%= filler_row(@students, @colspan + 3) %>
 </tbody>
</table>
</div>

</div>
</div>
<div id="secondary">
<% if current_user.teaches?(@section) %>
<h2>Gradebook Tasks</h2>
<ul>
 <li><%= link_to "Edit Grades", section_gradebook_path(@section) %></li>
 <li><%= link_to 'Upload Grades', new_grades_upload_path(@section), :class => 'xcel', :title => 'transfer grades from an Excel or OpenOffice spreadsheet to LittleRedBrick' %></li>
</ul>
<hr />
<% end %>

<h2>Section Information</h2>
<% if session[:initial] %>
 <% if current_user.admin? %><%= link_to "Edit Section", edit_section_path(@section) %><% end %>
 <%= initial %>
<% else %>
<ul>
 <li><%= link_to "View Assignment Details", section_assignments_path(@section) %></li>
 <% if current_user.admin? %><li><%= link_to "Edit Section", edit_section_path(@section) %></li><% end %>
 <li><%= link_to "Seating Chart", section_seating_chart_path(@section) unless (!current_user.teaches?(@section) && @section.has_no_seating_chart?) %></li>
</ul>
<hr />
<h2>Student Performance</h2>
<ul>
 <li><%= link_to "View All Marks", section_marks_path(@section) %></li>
 <li><%= link_to "View Grades on Selected Assignments", performance_section_assignments_path(@section) %></li>
</ul>
<hr />
<h3>Etc</h3>
<ul>
 <li>Department: <%= department_link_unless_current(@department) %></li>
 <li>One of <%= pluralize(@sections_of_class, 'section') %> of <%= subject_link(@subject, @department) %></li>
</ul>
<% end %>
</div>
