<div id="content">
<h1>New Event</h1>
<%= error_messages_for("event") %>
<%= form_for :event, :url => events_path, :html => {:id => 'event_form'} do |f| -%>
<fieldset>
<legend>Event Details</legend>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Create Event', :class => 'button' %>
</fieldset>
<% end %>
<%= return_link %>
</div>
<% if @section %>
<div id="secondary">
<h2>Note</h2>
<p>To create an assignment, go to the <%= link_to "gradebook page", section_gradebook_path(@section) %></p>
</div>
<% end %>
