<div id="content">
<h1>Administrators List</h1>
<%= notice_or_error %>
<p>The list below shows all administrators in the school, including teachers who have been given admin privileges for this site. Click the name of an admin to get more information.</p>
<div class="scrollableTable">
<table class="sortable" cellspacing="0">
 <thead>
  <tr>
   <th>Administrator</th>
   <th>Last Login</th>
   <th>Teacher | Staffer</th>
   <th colspan="2">&nbsp;</th>
  </tr>
 </thead>
 <tfoot>
  <tr>
   <th colspan="5">&nbsp;</th>
  </tr>
 </tfoot>
 <tbody>
  <%= render(:partial => "admin", :collection => @admins) %>
  <%= filler_row(@admins, 5) %>
 </tbody>
</table>
</div>
</div>
<div id="secondary">
<h2>Notes</h2>
<p>Administrators may set up terms, create user accounts, assign teaching loads, enroll students in classes, and set up calendar events and discussion groups for the staff and school.</p>
<p>Destroying the admin account of a teacher removes the administrative privileges described above, but does not otherwise affect the teacher&#8217;s account.</p>
<p><%= link_to "Add new administrator", new_administrator_path, {:title => 'Make a new account for an administrator or give admin privileges to a teacher account'} %></p>
<%= initial %>
</div>
