  <tr>
   <td class='text'><%= link_to "Help", forums_url('help') %></td>
   <td class='text'>Learn how to use the discussion forums or any other part of Little<span class='company'>Red</span>Brick, ask for tech support or give advice to others, or share tips with users from other schools.</td>
   <%= post_stats('help') %>
  </tr>
  <tr>
   <td class='text'><%= link_to "Staff", forums_path('staff') %></td>
   <td class='text'>A place to talk about issues at your school</td>
   <%= post_stats('staff') %>
  </tr>
  <% if @user.is_a? Teacher %>
  <tr>
   <td class='text'><%= link_to "Teachers", forums_path('teachers') %></td>
   <td class='text'>Discuss anything from curriculum to union issues, in a forum inaccessible to administration figures</td>
   <%= post_stats('teachers') %>
  </tr>
  <% else %>
  <tr>
   <td class='text'><%= link_to "Admin", forums_path('admin') %></td>
   <td class='text'>This group allows you to discuss administrative issues in a forum inaccessible to teachers</td>
   <%= post_stats('admin') %>
  </tr>
  <% end %>
