<div id="content">
<h1><%= @page_h1 = "Edit #{h(@forum.name)} Forum" %></h1>
<%= error_messages_for("forum") %>
<%= form_for @forum, :url  => forum_path(@discussable, @forum), do |f| -%>
<fieldset>
<legend>Forum Details</legend>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Save Forum'[:save_forum], :class => 'button' %>
</fieldset>
<% end -%>
<%= button_to('Destroy Forum', forum_path(@discussable, @forum), :method => :delete,
              :class => :button) if current_user.owns?(@forum) %>
<%= link_to('Cancel'[:cancel], forums_path(@discussable)) %>
</div>
<div id="secondary">
<h2>Notes</h2>
<dl id='forum_def'>
<dt>Name</dt><dd>Shown on the front page of a collection of forums</dd>
</dl>
<p>You will always be able to create topics in a forum you have created; you can decide whether other people who may access the forum are also allowed to create topics.</p>
</div>
