<div id="content">
<h1><%= @page_title = 'Discussion Groups' %></h1>
<table class='scrollike beast' cellspacing='0'>
 <thead>
  <tr>
   <th>Group</th><th style='width: 45%'>Description</th><th>Posts</th><th>Last Post</th>
  </tr>
 </thead>
 <tbody style='vertical-align:top; background: #fff'>
  <% if @user.is_a? Staffer %>
    <%= render 'staffer' -%>
  <% end %>
  <% if @user.is_a?(Staffer) || @user.is_a?(Parent) %>
  <tr>
   <td class='text'><%= link_to 'Parents', forums_path('parents') %></td>
   <td class='text'>An online <abbr title='Parent-Teacher Association'>PTA</abbr></td>
   <%= post_stats('parents') %>
  </tr>
  <% end %>
  <tr>
   <td class='text'><%= link_to "School", forums_path('school') %></td>
   <td class='text'><%= @user.is_a?(Parent) ? 'Read about' : 'Discuss' %> issues that pertain to the entire school</td>
   <%= post_stats('school') %>
  </tr>
  <% @sections ||= [] %>
  <% for section in @sections %>
  <tr>
   <td class='text'><%= link_to section.name_and_time(true), forums_path(section) %></td>
   <td>&nbsp;</td>
   <td><%= section.posts.count %></td>
   <td><%= Post.where(["discussable_type = 'Section' AND discussable_id = ?", section.id]).order('created_at DESC').created_at.strftime('%d %m') rescue '&nbsp;'.html_safe %></td>
  </tr>
  <% end %>
  </tbody>
 </table>

</div>
<div id="secondary">
<h2>Membership</h2>
<p>Each discussion group can be reached only by group members.</p>
<dl id='forum_def'>
 <% if current_user.is_a?(Staffer) %>
 <dt>Help</dt><dd>Staff members at all schools</dd>
  <dt>Staff</dt><dd><%= @school.name %> staff members</dd>
  <% if current_user.is_a?(Teacher) %>
  <dt>Teachers</dt><dd><%= @school.name %> teachers</dd>
  <% else %>
  <dt>Admin</dt><dd><%= @school.name %> administrators</dd>
  <% end %>
 <% end %>
 <% unless current_user.is_a?(Student) %>
 <dt>Parents</dt><dd>Parents and staff members at <%= @school.name %></dd>
 <% end %>
 <dt>School</dt><dd>Students, parents, and staff members at <%= @school.name %></dd>
 <% unless @sections.empty? %>
  <dt>Section</dt><dd>The discussion group for a class includes the teacher and all students for that class.</dd>
<% end %>
</dl>
</div>
