<% @page_title = 'New Topic' %>
<div id="content" class="help">
 <h1>New Topic Help Page</h1>
 <p>Create a topic when you want people in a <%= link_to "discussion group", '/help/general/discussions/groups' %> to have a new conversation topic. For instance, if you have a homework help <%= link_to "forum", '/help/general/discussions/forums' %> for a class, you could add a topic to discuss each week&#8217;s assignments. You can also create topics that do not allow responses, for instance to post rules about how much help students can offer each other in the forum.</p>
 <p>You have to define four things about a topic:</p>
 <dl class="notice">
  <dt>Title</dt><dd>The one-line summary of the topic that shows up on eg. the <%= link_to "forum page", '/help/page/forums/show' %></dd>
  <dt>Stickiness</dt><dd>Sticky topics stay at the top of the list on the forum page</dd>
  <dt>Locked</dt><dd>No one is allowed to post a reply to a locked topic</dd>
  <dt>Body</dt><dd>Expand on the title</dd>
 </dl>
 <h2 style="clear:both;padding-top:2em">When to Make a Topic Locked and/or Sticky</h2>
 <p>Like most conversations, <strong>most forum topics</strong> involve multiple participants and are time sensitive. Those topics should be <strong>neither locked nor sticky</strong>. That way, anyone in the group can answer it, but after a while it can get bumped off the front page as newer, timelier topics are added.</p>
 <p>Sometimes it makes sense to post a <strong>time sensitive announcement</strong>, like a date change for the next staff meeting. That could be <strong>locked</strong>, because no one needs to reply to it, but it <strong>does not need to be sticky</strong>, because no one will need to see it after the meeting date has passed.</p>
 <p>Something like a list of guidelines for forum etiquette could be <strong>locked and sticky</strong> - it&#8217;s <strong>not open to discussion</strong>, but <strong>you want people to see it every time they log in</strong> to the forum. An ongoing, popular discussion, like a tutorial on forum use, could be sticky but not locked.</p>
</div>
<% if current_user.is_a?Staffer %>
<div id="secondary">
  <%= render 'help/page/shared/discussion_related' -%>
  <%= render 'help/page/shared/tech_support', :subject => 'creating a topic' -%>
</div>
<% end %>
