<% @page_title = 'Topic' %>
<div id="content">
 <h1>Topic Help Page</h1>
 <p>A topic works the same as a conversation: one person says something, other people respond. People respond by clicking the <code>Reply to topic</code> link at the bottom of the list of posts. Each post notes several things about its author, including his name, whether he is a teacher, the and the number of posts he has written in the forum.</p>
<table border="0" cellspacing="0" cellpadding="0" class="posts wide beast">
<tr class="post hentry">
  <td class="author vcard">
    <a href="#" class="threadauthor fn">Mr Example-Post</a><span class="admin">Moderator </span><span class='posts'>18 posts</span>
    <div class="date">
      <abbr class="updated" title="<%= Date.today %>"> Post added <%= Date.today %></abbr>
    </div>
    <span class="edit">
      <a href="#">Edit Post</a>
    </span>
  </td>
  <td class="body entry-content">
    <p>This is what a post looks like. To the left are the post author (Mr Example-Post), the author&#8217;s status (<%= link_to "Moderator", '/help/discussions/moderators' %>), the number of posts he has contributed to the forum, and the date this post was added. The <code>Edit Post</code> link under the date will be visible in any posts you write, and on all posts in forums you moderate.</p>
  </td>
</tr>
</table>
 <p>The sidebar of a topic has three features: An <code>Edit Topic</code> link (visible only if you are the topic author or a forum moderator), a form to let you <%= link_to "monitor", '/help/discussions/monitoring' %> the topic, and a list of <em>voices</em>, or people who have contributed posts to the topic.</p>
 <h2>Replying to a Post</h2>
 <p>When you click the <code>Reply to topic</code> link, you get a form into which you can type your post. If you would like to add some formatting, you have the following options:</p>
 <%= render(:partial => "/help/page/posts/post") %>
</div>
<% if current_user.is_a?Staffer %>
<div id="secondary">
 <h2>Related Topics</h2>
 <p>These links are to general information about the site, not help on any specific page.</p>
 <ul>
  <li><%= link_to "Forums", '/help/discussions/forums' %></li>
  <li><%= link_to "Topics", '/help/discussions/topics' %></li>
  <li><%= link_to "Posts", '/help/discussions/posts' %></li>
  <li><%= link_to "Moderators", '/help/discussions/moderators' %></li>
  <li><%= link_to "Monitoring", '/help/discussions/monitoring' %></li>
 </ul>
  <%= render 'help/page/shared/tech_support', :subject => 'topics' -%>
</div>
<% end %>
