<div id= 'content'>
<h1>Edit Track</h1>
  <%= error_messages_for(@track, :message => nil, :header_message => 'There was a problem changing the marking period dates') %>
<%= form_tag term_track_path(@term, @track), :method => :put do %>
  <fieldset>
  <legend>Edit Track</legend>
  <p>Set the start and end dates for each marking period<% if @multitrack %> in this track<% end %>. Make sure there is no overlap between marking periods.</p>
  <table cellspacing = '9'>
    <tr>
      <th>Marking Period</th>
      <th colspan='4'>Dates</th>
    </tr>
    <% @track.marking_periods.each_with_index do |marking_period, i| %>
      <% @marking_period = marking_period -%>
    <tr>
      <td class="align" style="padding: 0 10px 7px 10px"><%= i + 1 %></td>
      <td style="vertical-align:top;padding:10px"><label for="marking_period_<%= @marking_period.id %>_start">Start</label></td>
      <td><%= datebocks_field_tag "track[existing_marking_periods][#{@marking_period.id}][start]", @marking_period.start, nil, i == 0, :id => "marking_period_#{@marking_period.id}_start", :obj => @marking_period, :method => :start %></td>
      <td style='vertical-align:top;padding:10px'><label for='marking_period_<%= @marking_period.id %>_finish'>End</label></td>
      <td><%= datebocks_field_tag "track[existing_marking_periods][#{@marking_period.id}][finish]", @marking_period.finish, nil, false, :id => "marking_period_#{@marking_period.id}_finish", :obj => @marking_period, :method => :finish %></td>
    </tr>
    <% end %>
  </table>

  <%= archive_note %>
  <%= submit_tag 'Update Track', :class => 'button' %>
  </fieldset>
<% end %>
<%= button_to 'Destroy Track', term_track_path(@term, @track),  {:method => :delete, :class => 'button', :id => 'delete_track'}  unless !@term.multitrack? || @track.occupied? %>
<% if !@term.multitrack? && @track.occupied? %>
<p>There are sections taking place during this track. If you would like to delete the track, you must first assign the sections to another track.</p>
<% end %>
<%= link_to "Cancel", term_path(@term) %>
</div>
<div id="secondary">
<h2>Note</h2>
<p>To add a marking period<% if @term.multitrack? %> to each track in this term<% end %>, go back to the <%= link_to "term page.", term_path(@term) %></p>
<%= initial %>
</div>
