<div id="content">
 <h1><%= @page_title = "Describe Uploaded File" -%></h1>
 <%= notice_or_error %>
 <%= error_messages_for("upload") %>
 <% unless params[:older] || @assignments.last.position == 1 %>
  <p>If you are uploading grades from assignments earlier than #<%= @assignments.last.position %>, click <%= link_to "here", :older => true %>.</p>
 <% end %>
 <%= form_tag grades_upload_path(@section) do %>
  <div class="scrollableTable" id="taller">
   <table cellspacing = 0>
    <thead>
     <tr>
      <th id = 'student_head'>Student</th>
      <th colspan = '<%= @data[0].length + 1 %>' id = 'assign_head'>Assignments</th>
     </tr>
    </thead>
    <tfoot>
     <tr>
      <td class = 'person'>
       <%= select_tag('student', options_for_select([['Name(Last)', 'last_name'], ['Name(First Last)', 'full_name'], ['Name(Last,First)', 'last_first'], ['ID', 'id_number']]), {:class => 'columns'}) -%>
      </td>
      <%= render(:partial => "selection", :collection => @data[0]) -%>
      <td><%= submit_tag 'Save', :class => 'button' -%></td>
     </tr>
    </tfoot>
    <tbody>
     <%= render(:partial => "gradebook/gradebook/data_row", :collection => @data) -%>
    </tbody>
   </table>
  </div>
 <%= hidden_field_tag("extension", @upload.extension) %>
 <% end %>
</div>
<div id="secondary">
<h3>Note</h3>
<p>To select a different file to upload, click <%= link_to "here", new_grades_upload_path(@section) %></p>
</div>
