<div id="content">
<h1><%= @forum.name %> Forum Moderators</h1>
<%= notice_or_error %>
<fieldset>
<legend>Moderator List</legend>
<%= form_tag(forum_moderator_path(@discussable,@forum, @forum.owner_id), :method => :put) do %>
<p>Below are the names of all forum members who are allowed to moderate (edit or delete posts other than their own). Uncheck the box beside the name of anyone who you do not want to moderate the forum. They will still be able to read the forum and add their own posts.</p>
<p>To add a new moderator, use the form to the right.</p>
<ul style='width:15em'>
 <% for moderator in @moderators %>
  <li><label for="moderator[<%= moderator.id %>]"><%= check_box_tag("moderator[#{moderator.id}]", {}, true, :disabled => (moderator.id == current_user.id)) %><%= moderator.display_name %></label></li>
 <% end %>
</ul>
<%= hidden_field_tag("moderator[#{current_user.id}]") %>
<%= submit_tag("Save Changes", :class => 'button') %>
<% end %>
</fieldset>
<%= link_to "Cancel", forum_path(@discussable, @forum) %>

</div>
<div id="secondary">
<h2>Add Moderator</h2>
<fieldset>
 <legend>Search</legend>
 <p style='margin-top:0'>Enter the name of a person who should be allowed to moderate this forum.</p>
 <%= form_tag search_forum_moderators_path(@discussable,@forum) do %>
 <%= text_field_tag("search") %>
  <noscript>
    <%= submit_tag("Search", :class => 'button') %>
  </noscript>
 <% end %>
</fieldset>
</div>
