<tr class="<%= cycle('odd','even') %>">
 <td><%= student.position %></td>
 <td class='text'><%= link_to student.last_first, rbe_attendance_path(@section, student.student_id), :title => "Click to see #{student.first_name}&#39;s attendance history".html_safe %></td>
 <td><%= student.student.grade %></td>
 <td>&nbsp;</td>
 <% (@start..@finish).each do |day| %>
   <% next if day.cwday > 5 %>
   <td><%= absence_or_form_element_for(student, day) %></td>
 <% end %>
 <td>&nbsp;</td>
</tr>
