<div id= 'content'>
<h1><%= @page_title = "Revise Course Catalog" -%></h1>
<p id='setup'>Below are the departments and subjects that have been entered for your school. You can edit any of these names.<noscript> You will be able to add more departments, and more subjects in these departments, after you create the initial catalog.</noscript> Erase the names of any subjects you do not need. </p>
<%= error_messages_for(@school.departments) %>
<%= form_for(@school, :url => catalog_path, :html => { :id => 'department_initial', :method => :put}) do |school_form| %>
  <%= render :partial => 'form', :locals => { :school => school_form } %>
<% end %>
</div>
<div id="secondary">
<h2>Notes</h2>
<p>You will be able to delete any departments that were entered accidentally after the school setup is finished.</p>
<%= initial %>
</div>


