<div id= 'content'>
<h1><%= @page_title = "Create Course Catalog" -%></h1>
<p id='setup'>Name the departments at your school and the subjects in them. To save you some typing, we have some common department and subject names listed below.  Feel free to change the names if they don't fit your school - for instance, if you would rather use 'Language Arts' instead of 'English'. Just make sure each one has a unique name.<noscript> You will be able to add more departments, and more subjects in these departments, after you create the initial catalog.</noscript> <% if @school.departments.all?{|d| d.new_record?} %>Erase the names of any subjects you do not need.<% end %></p>
<%= error_messages_for @school.departments -%>
<%= form_for(@school, :url => catalog_path, :html => { :id => 'department_initial', :method => :post}) do |school_form| %>
  <%= render :partial => 'form', :locals => { :school => school_form } -%>
<% end %>
</div>
<div id="secondary">
<h2>Notes</h2>
<p>Setting up the catalog will make it easier to assign sections to teachers, and compare the performance of different sections of the same subject later on.</p>
<%= initial %>
</div>
 

