<div id="content">
<h1><%= @admin.title %> <%= @admin.full_name %></h1>
<h2>Login History</h2>
<ul>
  <% for login in @logins %>
    <li><%= login %></li>
  <% end %>
</ul>
<%= pagination @logins %>
<%= teacher_link(@admin, true, 'Teacher page') if @admin.is_a?(Teacher) %>
<%= link_to "Back", administrators_path %>
</div>
<div id="secondary">
<%= initial %>
</div>



