<div id="content" class='calculate_marks'>
<h1>Calculate <%= @mark.description %> Scores</h1>
<%= notice_or_error %>
<% if @predecessor_rg.empty? %>
<p>Since no other mark precedes this one, you will have to enter student scores for it <%= link_to "manually", edit_section_mark_path(@section, @mark) %></p>
<% else %>
<p>There are three ways to calculate <%= @mark.description %> scores for the class based on prior marks. <% if @mark.description =~ /Marking Period/ %>Alterately, you may reset the marking period grades based on scores earned on assignments due during the marking period.<% end %> If you do not wish to use any of the methods described below, <%= link_to "click here", section_mark_path(@section, @mark) %> to enter marks manually.</p>
<%= form_tag(section_mark_path(@section, @mark), {:method => :put, :class => 'calculate'}) do %>
<h3>Calculate Average</h3>
<p>If students' <%= @mark.description.downcase %> marks should be based on an average of <%= 'two or more of ' if @predecessor_rg.length > 2 %><%= @predecessor_rg.map(&:description).to_sentence(:words_connector => ' and/or ', :last_word_connector => ' and/or ') %>, click the <%= @predecessor_rg.length > 2 ? 'appropriate boxes' : 'button' %> in the first form. <%= @mark.description %> marks will be entered as percentages.</p>
  <fieldset>
   <legend>Average Previous Marks</legend>
   <ul>
   <% @predecessor_rg.each_with_index do |mark, i| %>
     <li><label for="avg[<%= mark.id %>]"><%= mark.description %></label><%= check_box_tag("avg[#{mark.id}]", '1', @predecessor_rg.length == 2) %></li>
   <% end %>
   </ul>
   <%= submit_tag("Average", :class => 'button') %>
  </fieldset>
<% end %>
<%= form_tag(section_mark_path(@section, @mark), {:method => :put, :class => 'calculate'}) do %><h3>Weighted Average</h3>
<p>Enter the percent weight which should be given to each mark. For instance, if a final grade is based on
<ul>
<li>40% of marking period 1</li>
<li>40% of marking period 2</li>
<li>20% final exam</li>
</ul>
enter those values in the second form. Marks calculated this way will be entered in the database as  percentages.</p>
  <fieldset>
   <legend>Weighted Average</legend>
   <ul>
    <% @predecessor_rg.each_with_index do |mark, i| %>
     <li><label for="wt[<%= mark.id %>]"><%= mark.description %></label><%= select_tag("wt[#{mark.id}]", options_for_select(0..100), :include_blank => true) %></li>
    <% end %>
   </ul>
    <%= submit_tag("Weight", :class => 'button') %>
  </fieldset>
<% end %>
<%= form_tag(section_mark_path(@section, @mark), {:method => :put, :class => 'calculate'}) do %>
<h3>Combine Points</h3>
<p>Use the third form for this option if, for instance, you assigned 347 points in the first marking period and 419 points in the second, and you want to weigh the marking periods proportionally. In this example, the calculated marks would be entered in the database with a 'possible points' value of 767 (=347 + 419).</p>
  <fieldset>
   <legend>Combine Points</legend
   <ul>
   <% @predecessor_rg.each_with_index do |mark, i| %>
     <li><label for="pts[<%= mark.id %>]"><%= mark.description %></label><%= check_box_tag("pts[#{mark.id}]", '1', @predecessor_rg.length == 2) %></li>
   <% end %>
   </ul>
   <%= submit_tag("Combine", :class => 'button') %>
  </fieldset>
<% end %>
<% end %>
<% if @mark.description =~ /Marking Period/ %>
<%= form_tag(section_mark_path(@section, @mark), {:method => :put, :class => 'reset'}) do %>
  <fieldset>
   <legend>Reset Marking Period</legend>
   <p>A student's marking period marks are computed automatically, by adding the point value of every assignment in the marking period and the scores earned on those assignments to determine the possible points and earned points. The mark can then be altered manually. If you have manually altered some marks and would like to reset them, check the box below.</p>
   <label for="reset">Reset student scores for <%= @mark.description %><%= check_box_tag("reset") %></label>
   <%= submit_tag("Reset", :class => 'button') %>
  </fieldset>
<% end %>
<%= link_to "Enter #{@mark.description} scores manually", edit_section_mark_path(@section, @mark) %>
<% end %>
</div>

