<div id="content">
 <h1><%= @section.name %> Marks</h1>
  <div class="scrollableTable">
   <table cellspacing = 0 class="sortable">
    <thead>
     <tr>
      <th id = "student_head" colspan="2">Student</th>
      <th colspan='<%= @headers.length %>'>Marks (percent)</th>
     </tr>
     <tr>
      <th id="ordinal">#</th>
      <th>Name</th>
      <%= render(:partial => "header", :collection => @headers) %>
     </tr>
    </thead>
    <tbody>
     <%= initial_instructions %>
     <%= render :partial => 'student', :collection => @students %>
     <%= filler_row(@students, @headers.length + 1) %>
    </tbody>
    </table>
  </div>
  <%= notice_or_error %>
  <% if @headers.all?{|mark|mark.reportable_type == 'Term'} %>
   <p>These marks were set by your school, and must be reported for all classes. Marking period grades are automatically calculated based on grades for assignments due within each marking period. <% if current_user.teaches?(@section) %>You must enter other marks yourself. You may also create additional marks (final exam, etc) if there is an important component of the final grade for your class that does not belong in any marking period.<% else %>Teachers must enter other marks themselves.<% end %></p>
 <% end %>
</div>
<div id='secondary'>
 <h2>Marks</h2>
 <ol>
  <% for mark in @headers %>
    <li><%= mark.description %></li>
  <% end %>
 </ol>
 <% if current_user.teaches?(@section) %>
 <%= link_to "Add Mark", new_section_mark_path(@section) %>

 <hr />
 <p>To edit student marks, click the number at the top of its column. </p>
 <% else %>
 <p>To see the grade distribution for a mark, click the number at the top of its column.</p>
 <% end %>
</div>