<div id="content">
<h1>Student Performance<%= ' for the Current Marking Period' if params.length == 1 %></h1>
 <div class="scrollableTable">
  <table cellspacing = 0 class="sortable">
   <thead>
    <tr>
     <th colspan="3">Student</th>
     <th colspan="3">Grade</th>
    </tr>
    <tr>
     <th>#</th>
     <th>Name</th>
     <th>Year</th>
     <th>Earned</th>
     <th>Possible</th>
     <th>Percentage</th>
    </tr>
   </thead>
   <tbody id='student_table'>
    <%= render(:partial => "student_performance", :collection => @students) %>
    <%= render(:partial => "shared/initial") if @students.empty? %>
    <%= filler_row(@students, 6) %>
   </tbody>
  </table>
 </div>
  <p>To see student grades for a subset of assignments, enter parameters in the form on the right and click 'Find Assignments'.</p>
</div>
<%= render(:partial => "shared/assignment_form") %>
