<div id = 'content'>
  <h1><%= link_to @student.full_name, student_path(@student, :marking_period => @mp_position), :title => "Click to see #{@student.first_name}&#39;s recent performance in all classes".html_safe %></h1>
 <%= section_and_gradebook_link %>
 <h3 style='display:inline'>Viewing Marking Period <%= marking_period_links %> <%= link_to "See all marks", rbe_marks_path(@student, @section) %></h3>
 <h3 style='margin-top:1em'>Marking Period Grade: <%= number_with_precision(@marking_period.grade, :precision => 1) %> (<%= @section.on_scale(@marking_period.grade) %>) Class Rank <%= @marking_period.class_rank %></h3>
 <%= render :partial => "shared/category" %>
 <%= render :partial => "shared/progression" %>
 <%= render :partial => "shared/grade", :locals => {:full_page => false } %>
 <%= render :partial => "shared/ungrade" %>
 <%= link_to "See all assignments", rbe_assignments_path(@student, @section, :mp => @mp_position), :id => 'assignments' %>
<% if current_user.teaches?(@section) %>
 <%= render :partial => "shared/post" %>
<% end %>
</div>
<div id='secondary'>
<h2>Classes</h2>
<ul>
<% @sections.each do |section| %>
  <li><%= link_to_unless_current section.name, section_enrollment_path(section, @student), :title => "Click to see more information about #{@student.first_name}&#39;s performance in #{section.name}".html_safe %></li>
<% end %>
</ul>
<% if current_user.teaches?(@section) || current_user.admin? %>
<hr />
<h3>Remove From Class</h3>
<%= button_to 'Unenroll', section_enrollment_path(@section,@student), :method => :delete, :class => 'button', :id => 'unenroll_button' %>
<% end %>
</div>
