<div id= 'content'>
<h1>Term <%= term_name @term %></h1>
<%= notice_or_error %>
<h2>Marking Period Schedule</h2>
<p>Below are the marking period start and end dates for <% if @term.multitrack? %>each track in <% end %> this term. To edit marking period dates, click a track's number.</p>
<table class="scrollike" cellspacing="0" cellpadding="3">
 <thead>
  <tr><% @extra_columns = @tracks.first.marking_periods.length == 1 ? 0 : 1 %>
    <th colspan = '<%= @tracks[0].marking_periods.length + 2 %>'>Marking Periods</th>
  </tr>
  <tr>
    <th>Track</th>
    <% @tracks[0].marking_periods.each_index do |i| %>
      <th><%= i + 1 %></th>
    <% end %>
    <th><%= link_to 'Add Marking Period', new_term_marking_period_path(@term) %></th>
  </tr>
 </thead>
 <tfoot>
  <tr>
    <td><%= link_to 'Add Track', new_term_track_path(@term) %></td>
    <td colspan='<%= @tracks[0].marking_periods.length - 1 %>'>&nbsp;</td>
    <td><%= button_to 'Remove Marking Period', term_marking_period_path(@term, @mp), :method => :delete, :class => 'button', :id => 'remove_mp_button', :title => 'This will remove the last marking period' if @extra_columns > 0 %><%= '&nbsp;'.html_safe if @extra_columns == 0 %></td>
    <%= td '&nbsp;'.html_safe if @extra_columns > 0 %>
  </tr>
 </tfoot>
 <tbody>
  <% @tracks.each_with_index do |track, i| %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%= link_to i + 1, edit_term_track_path(@term,track), :title => "Click to edit marking period dates #{'for this track' if @tracks.length > 1}" %></td>
      <% track.marking_periods.each do |mp| %>
        <td><span class="wrapless"><%= mp.start.strftime('%b %d') %></span> &mdash; <span class="wrapless"><%= mp.finish.strftime('%b %d') %></span></td>
      <% end %>
      <%= td '&nbsp;'.html_safe if @extra_columns == 0 %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= schedule %>
<%= term_link %>
</div>
<div id="secondary">
<h3><%= link_to "Marks", term_reported_grades_path(@term) %></h3>
<ol>
  <% @reported_grades.each do |rg| %>
    <%= content_tag_for :li, rg  do %>
      <%= rg.description %>
    <% end %>
  <% end %>
</ol>
<p>Above is a list of all the grades that teachers will be prompted to collect over the course of the term. If teachers will be required to report additional marks for all of their classes (for instance, semester or final grades) during this term, edit the list by clicking its title.</p>
<p>If you need to add a marking period to the term, use the 'add marking period' button to the left.</p>
<%= initial %>
</div>

