<div id="posts">
<h3>Recent Forum Comments</h3>
 <% if @posts.empty? %>
  <p><%= @parent.display_name %> has contributed no comments to the <%= link_to "parent forums", forums_path('parents') %>.</p>
 <% else %>
 <table class='scrollike'>
  <thead>
   <tr>
    <th>Forum</th>
    <th>Topic</th>
    <th>Post</th>
    <th>Date</th>
   </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
   <tr class='odd'>
    <td class='text'><%= link_to truncate(post.forum.name, :length => 12), forum_path('parents', post.forum_id), {:title => post.forum.name} %></td>
    <td class='text'><%= link_to truncate(post.topic.title, :length => 12),forum_topic_path('parents', post.forum_id, post.topic_id, {:title => post.topic.title}) %></td>
    <td class='text'><%= truncate(post.body_html, :length => 70) %></td>
    <td><%= post.date %></td>
   </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "More comments by #{@parent.display_name}", reader_path('parents', @parent) %>
<% end %>
</div>

