<div id="content">
<h1>New Parent for <%= @student.full_name %></h1>
<%= error_messages_for("parent", :class => 'ie_high') %>
<%= form_tag student_parents_path(@student) do %>
<fieldset>
  <legend>Name</legend>
   <% if !@parents.blank? %>
   <%= hidden_field("parent", "first_name") %><%= hidden_field("parent", "last_name") %><%= hidden_field("parent", "title") %>
  <p>There <%= @parents.length == 1 ? 'is' :  'are' %> already <%= pluralize(@parents.length, 'parent') %> in the database named "<%= @parent.full_name %>". Indicate whether you want to make a new parent account for someone else with the same name, or whether <%= @student.first_name %> has a sibling at the school.</p>
  <ul>
   <li><label for='parent_id_new' class='radio'>Create a new parent account</label><%= radio_button_tag("parent_id", 'new', true, :id => 'parent_id_new') %></li>
  <% @parents.each do |parent| %>
   <li><label class='radio' for='parent_id_<%= parent.id %>'><%= @student.first_name %> is a sibling of <%= parent.children.first.full_name %></label><%= radio_button_tag(:parent_id, parent.id, false, :id => "parent_id_#{parent.id}") %></li>
  <% end %>
  </ul>
  <%= link_to "Enter a different name", new_student_parent_path(@student) %>
  <% else %>
  <ul>
   <li><label for = 'parent_title'>Title</label><%= select("parent", "title", ['Mr','Mrs','Ms','Dr']) %></li>
   <li><label for = 'parent_first_name'>First Name</label><%= text_field("parent", "first_name") %></li>
   <li><label for = 'parent_last_name'>Last Name</label><%= text_field("parent", "last_name") %></li>
   <% if @parent.errors.on(:login) %>
   <li><label for = "parent_authorization_login">Login</label><%= fields_for "parent[authorization]", @parent.build_authorization do |auth| %><%= auth.text_field("login") %><% end %></li>
   <%= hidden_field_tag("parent_id", 'new') %>
   <% end %>
  </ul>
 <% end %>
 
  <%= submit_tag "Create", :class => 'button' %>
</fieldset>
<% end %>
<%= link_to "Cancel", student_parents_path(@student) %>
</div>
<div id="secondary">
<h2>Notes</h2>
<p>To edit any information about a child, go through that child&#8217;s page.</p>
<%= initial %>
</div>
