<div id="content">
<h1><%= @page_h1 = 'Edit Topic'[] %></h1>

<%= error_messages_for :topic %>
<%= form_for :topic,
     :url  =>forum_topic_path(@discussable, @forum, @topic),
     :html => { :method => :put } do |f| -%>
<%= render :partial => "form", :object => f %>
<% end -%>
<%= button_to 'Delete Topic', {:action => 'destroy', :id => @topic}, :method => :delete, :class => 'button' %>
<%= link_to('Cancel'[],forum_topic_path(@discussable, @forum, @topic)) %>
</div>
<div id="secondary">
<h2>Topic Definition</h2>
<dl id='forum_def'>
<dt>Title</dt>
<dd>A one-line summation of the topic</dd>
<% if admin? %>
<dt>Sticky</dt>
<dd>Mark this if you want the topic to remain at the top of the topic list</dd>
<dt>Locked</dt>
<dd>Mark this if you want to prevent replies to the topic</dd>
<% end %>
<% if @forums.length > 1 and current_user.id == @forum.owner_id %>
<dt>Forum</dt>
<dd>Change this if you want the topic to be moved to a different forum for the <%= @discussable.klass %></dd>
<% end %>
</dl>
</div>
