<div id="content">
<h1><%= @page_h1 = "Edit #{whose}Teaching Load" %></h1>

<%= notice_or_error %>

<%= render(:partial => "departments") %>
<%= form_for(@teacher, :url => teaching_load_path(@teacher, :length => params[:length], :term => params[:term]), :html => { :id => 'sections', :method => 'put', :class => 'first equal' }) do |teacher_form| %>
  <%= render(:partial => "form", :locals => { :f => teacher_form }) %>
<% end %>
<%= link_to "Back", session[:return_to], :id  => 'cancel' %>

</div>

<div id="secondary">
<h2>Notes</h2>
<%= term_change_link %>
<%= initial %>
<% if current_user.admin? %>
<p>If there are department or subject names missing, add them in <%= link_to "the catalog.", departments_path %></p>
<% end %>
</div>
