<div class='new_term'>
  <% unless params[:subject] %>
  <h3><%= link_to(section.name, {:subject => section.subject_id}, :title => "Click to see enrollment data for all #{section.name} classes for the next term") %><%= "(Period #{section.time})" if section.time %></h3>
  <% end %>
  <dl>
   <% unless params[:teacher] %>
   <dt>Teacher</dt><dd><%= link_to_unless(@teacher, section.teacher.display_name, {:teacher => section.teacher}, {:title => "Click to see all of #{section.teacher.display_name}&#39;s classes for next term"}) %></dd>
   <% end %>
   <% if params[:subject] %>
   <dt>Time</dt><dd><%= section.time %></dd>
   <% end %>
   <dt>Enrollment</dt><dd id="enrollment_<%= section.id %>"><%= section.enrollment %></dd>
   <dd>
    <ol id="<%= section.id %>">
     <%= render(:partial => "student", :collection => section.rollbook_entries) %>
    </ol>
   </dd>
  </dl>
  <% if current_user.admin? || current_user == @teacher %>
  <fieldset>
  <legend>Add/Remove Student</legend>
  <%= form_tag search_term_staging_path(@term, :subject => params[:subject], :teacher => params[:teacher], :student => params[:student], :section => section.id) do %>
    <%= text_field_tag("search", '', :class => 'search', :id => '') %>
    <%= submit_tag("Enroll", :class => :button) %>
  <% end %>
  <%= form_tag term_staging_path(@term, :subject => params[:subject], :teacher => params[:teacher], :student => params[:student]), {:method => :delete} do %>
    <%= text_field_tag("name") %>
    <%= hidden_field_tag("section", section.id) %>
    <%= submit_tag("Unenroll", :class => :button) %>
  <% end %>
  </fieldset>
  <% end %>
</div>
