<div id="content">
<h1><%= @page_title = 'Edit Post' %></h1>

<h2>Return to topic: <%= link_to h(@post.topic.title),forum_topic_path(@discussable, @post.forum_id, @post.topic) %></h2>

<%= error_messages_for :topic %>
<fieldset>
<legend>Post</legend>
<%= form_for :post, :html => { :method => :put },
     :url  => post_path(@discussable, params[:forum_id], params[:topic_id], @post, :page => params[:page]) do |f| -%>
<label id="post_body"><%= f.text_area :body, :rows => 5, :columns => 50 %></label>
<%= submit_tag 'Save Post'[:save_title], :class => 'button' %>
<% end -%>
<%= button_to('Delete post'[], post_path(@discussable, @post.forum_id, @post.topic, @post, :page => params[:page]),
       :method => :delete, :class => 'button', :confirm => 'Delete this post forever?'[:delete_post_conf]) %>
</fieldset>
<%= link_to 'cancel'[],forum_topic_path(@discussable, @post.forum_id, @post.topic, :page => params[:page]) %>
</div>
