<div id="content">
<h1><%= @page_title = "Posts that {user} is monitoring"[:posts_user_is_monitoring, h(@user.display_name)] %></h1>
<p class="subtitle">
  <%= '{count} post(s) found'[(count=@posts.total_entries)==1 ? :post_count_found : :posts_count_found, number_with_delimiter(count)] %>
</p>

<%= pagination @posts %>

<table border="0" cellspacing="0" cellpadding="0" class="posts wide beast">
<%= render(:partial => "beast/topics/post", :collection => @posts, :locals => {:users => @users, :discussable => @discussable}, :spacer_template => 'spacer') %>
</table>

<%= next_page @posts %>
<%= pagination @posts %>
</div>
<div id="secondary">

<h3><%= "{name}'s Monitored Topics"[:users_monitored_topics, link_to(h(@user.display_name), reader_path(@discussable, @user))] %></h3>
<ul class="flat">
<% @user.monitored_topics.limit(25).each do |topic| %>
  <li><%= link_to topic.title,forum_topic_path(@discussable, topic.forum_id, topic) %></li>
<% end %>
</ul>

</div>
