<fieldset>
<legend>Sections</legend>
<% unless @sections.all?{|s| s.new_record?} %><p>After you have chosen departments, select classes <%= 'and times ' unless @low_period.nil? %>below.</p><% end %>
  <table id='section_form'>
  <thead>
   <tr>
    <th id="subject_header">Subject</th>
    <%= th 'Time' unless @low_period.nil? %>
    <%= th 'Track' unless @tracks.length == 1 %>
   </tr>
  </thead>
   <tfoot>
    <tr>
     <td class='text' colspan='<%= colspan %>'>
      <%= link_to "Add section", {:term => params[:term], :length => @n}, :id => 'add_link' %>
     </td>
     <td><%= submit_tag("Save Sections", :class => 'button') %></td>
    </tr>
   </tfoot>
   <tbody id="section_form_body">
     <%= f.fields_for :sections do |s| -%>
       <%= render(:partial => 'section', :locals => { :s => s }) %>
     <% end %>
   </tbody>
  </table>
</fieldset>
