<div id="content">
<h1><%= @page_title = "Describe Uploaded File" -%></h1>
<%= notice_or_error %>
<%= error_messages_for("upload") %>
<% @length = @data.map(&:length).max - 1 %>
<%= form_tag enrollment_upload_path(@section) do %>
 <div class="scrollableTable" id="taller">
  <table cellspacing = "0">
   <thead>
    <tr><th colspan = "<%= @length + 1 %>" id = "assign_head">File Contents</th></tr>
   </thead>
   <tfoot>
    <tr>
    <% 1.upto(@length + 1) do |n| %>
     <td class = 'person'>
     <%= select_tag('section[]', options_for_select(@sections.map{|s| [s.name_and_time, s.id]}.unshift(['Select Class', ''])), {:class => 'columns'}) -%>
     </td>
    <% end %>
    </tr>
   </tfoot>
   <tbody>
    <%= render(:partial => "upload/users/data_row", :collection => @data) -%>
    <%= filler_row(@data, 5) %>
   </tbody>
  </table>
 </div>
 <label for="id_method">Data</label><%= select_tag('id_method', options_for_select([['Full Name', 'full_name'], ['Name(Last,First)', 'last_first'], ['ID', 'id_number']]), {:class => 'columns'}) -%>
 <%= hidden_field_tag("extension", @upload.extension) %>
 <%= submit_tag 'Upload', :class => 'button' %>
<% end %>
</div>
<div id="secondary">
<h3>Note</h3>
<p>To select a different file to upload, click <%= link_to "here", new_enrollment_upload_path(@section) %></p>
<%= initial %>
</div>

