<div class="section">
<%= section_title(personal_section.section) %>
<% mark = personal_section.milestones.detect{|m| m.reported_grade_id == personal_section.section.reported_grade_id} %>
<h3>Marking Period Grade: <%= number_with_precision(mark.grade, :precision => 1) %> (<%= personal_section.section.on_scale(mark.grade) %>)</h3>
<div class="progression">
 <h3>Grade Progression</h3>
 <% if @progression[personal_section.id].empty? %>
  <p>Nothing has been graded this marking period</p>
 <% elsif @progression[personal_section.id].length == 1 %>
  <p>The score on the only assignment graded this marking period was <%= @progression[personal_section.id][0][:grade] %></p>
 <% else %>
  <%= progression_graph(@progression[personal_section.id]) %>
 <% end %>
</div>
</div>
