<div id= 'content'>
<h1>New Track</h1>
  <%= error_messages_for(@track, :header_message => 'There was a problem creating the new track', :message => nil) %>
<%= form_tag term_tracks_path(@term) do %>
  <fieldset>
  <legend>New Track</legend>
  <p>Set the start and end dates for each marking period in the new track.</p>
    <table cellspacing = '9'>
    <tr>
      <th>Marking Period</th>
      <th colspan='4'>Dates</th>
    </tr>
    <% @track.marking_periods.each_with_index do |marking_period, i| %>
      <% @marking_period = marking_period -%>
    <tr>
      <td class='align' style="padding: 0 10px 7px 10px"><%= i + 1 %></td>
      <td style='vertical-align:top;padding:10px'><label for='marking_period_<%= i %>_start'>Start</label></td>
      <td><%= datebocks_field_tag "track[new_marking_periods][][start]", @marking_period.start, nil, i == 0, :id => "marking_period_#{i}_start", :obj => @marking_period, :method => :start %></td>
      <td style='vertical-align:top;padding:10px'><label for='marking_period_<%= i %>_finish'>Finish</label></td>
      <td><%= datebocks_field_tag "track[new_marking_periods][][finish]", @marking_period.finish, nil, false, :id => "marking_period_#{i}_finish", :obj => @marking_period, :method => :finish %></td>
    </tr>
    <% end %>
  </table>

  <%= submit_tag 'Create Track', :class => 'button' %>
  </fieldset>
  <%= link_to "Cancel", term_path(@term) %>
<% end %>
</div>
<div id="secondary">
<h2>Note</h2>
<p>Make sure there is no overlap between marking periods. Each one should end before the next one begins.</p>
<p>Multiple tracks are needed only if students at your school do not all complete marking periods on the same day due to staggered schedules. If you do not need to create a new track, <%= link_to "go back to the term page.", term_path(@term) %></p>
<%= initial %>
</div>
