<% @page_h1 = "Posts by #{@user.display_name}" %>
<div id = "content">
<h1><%= @user.display_name %>&#39;s <%= @discussable.name.titleize -%> Posts</h1>
<p class="subtitle">
  <span>
    <%= '{count} posts'[(count=@discussable_posts)==1 ? :post_count : :posts_count, number_with_delimiter(@discussable_posts)] %>
  </span>
</p>
<%= notice_or_error %>
<% if @recent_posts.empty? %>
<%= render(:partial => "explanation") %>
<% else %>
<h2>Recent Posts</h2>
<table border="0" cellspacing="0" cellpadding="0" class="posts wide beast">
<%= render(:partial => "beast/topics/post", :collection => @recent_posts) %>
</table>
<div id="edit"></div>
<% unless @discussable_posts == @recent_posts.length %>
 <%= 'view'[] %> <%= link_to 'all'[:view_all], reader_posts_path(@discussable, @user) %>
<% end %>
<% end %>
</div>
<div id="secondary">
<% if admin?(@discussable) %>
  <h2><%= 'Forum Moderation'[:admin_and_moderation] %></h2>
  <% if @user.forums.any? -%>
   <p><%= he_or_you %> can <abbr title='Moderators can edit and delete posts that were created by other people'>moderate</abbr> the following forums.</p>
   <table class="flat beast" cellspacing='0' cellpadding='0'>
    <% @moderated_forums.each do |forum| -%>
    <tr>
     <td>
      <%= forum_link(@discussable, forum, truncate(forum.name, :length => 20, :separator => ' ')) %>
     </td>
     <td>
      <%= button_to 'X', forum_moderator_path(@discussable, forum, forum.moderatorship_id), :method => :delete, :class => 'button', :title => "You created the #{forum.name} forum, so you may remove #{@user.display_name} as moderator" if (current_user.id == forum.owner_id && @user.id != forum.owner_id) %>
     </td>
    </tr>
    <% end -%>
   </table>
  <% end -%>
  <% unless (@forums = @discussable.forums.select{|f|f.owner_id == current_user.id} - @moderated_forums).empty? || @user.id == current_user.id %>
   <p>You may name <%= @user.is_a?(Student) ? @user.first_name : @user.display_name %> as <abbr title='Moderators can edit and delete posts that were created by other people'>moderator</abbr> for any forum you have created for the <%= @discussable.klass %></p>
   <%= form_for :user, :url => forum_moderators_path(@discussable, @forums.first), :html => {:class => "xdialog"} do |f| -%>
    <%= hidden_field(:user, :id) %>
     <table cellspacing='0' cellpadding='0' class='flat beast'>
      <% @forums.each do |forum| %>
       <tr>
        <td><%= check_box_tag("forum[#{forum.id}]") %></td>
        <td><label for='forum[<%= forum.id %>]'><%= forum.name %></label></td>
       </tr>
      <% end %>
     </table>
     <%= hidden_field_tag("return", true) %>
     <%= submit_tag 'Save'[:save_title], :class => 'button' %>
    <% end -%>
   <% end -%>
<% end %>
</div>

