<div id="content">
<h1><%= @page_h1 = "Edit Teacher" -%></h1>
<%= error_messages_for("teacher") %>
<%= form_for @teacher, :url => teacher_path(@teacher), :html => {:method => :put} do |f| %>
<fieldset>
  <legend>Name</legend>
  <ul>
    <li><label for='teacher_title'>Title</label><%= f.text_field 'title' %></li>
    <li><label for='teacher_first_name'>First</label><%= f.text_field 'first_name' %></li>
    <li><label for='teacher_last_name'>Last</label><%= f.text_field 'last_name' %></li>
  </ul>
</fieldset>
<fieldset>
  <legend>Login</legend>
  <% if @teacher.id == current_user.id || @teacher.errors.on(:login) %>
   <%= fields_for "teacher[authorization]", @teacher.authorization do |auth| %>
  <ul>
    <li><label for='teacher_authorization_login'>Login</label><%= auth.text_field 'login', {:size => 12} %></li>
    <li><label for='teacher_authorization_password' id='password_label'>Password</label><%= auth.password_field 'password', {:size => 12} %></li>
    <li><label for='teacher_authorization_password_confirmation'>Confirm Password</label><%= auth.password_field 'password_confirmation', {:size => 12} %></li>
  </ul>
  <% end %>
  <% else %>
  <label for="reset"><abbr title="Check this box to reset <%= @teacher.display_name %>&#8217;s login and password to '<%= @teacher.first_name.downcase + @teacher.last_name.downcase %>'">Reset</abbr> Login/Password</label>
  <%= f.check_box("reauthorize") %>
  <% end %>
</fieldset>
<fieldset>
  <legend>Other Information</legend>
  <ul>
    <li><label for='teacher_id_number'>ID</label><%= f.text_field 'id_number' %></li>
    <p class='explanation'>Optional</p>
    <li><label for='teacher_email'>Email</label><%= f.text_field 'email' %></li>
    <p class='explanation'>Optional</p>
  </ul>
<%= submit_tag("Update Teacher", :class => 'button') %>
</fieldset>
<% end %>
<%= link_to "Cancel", teacher_path(@teacher) %>
<%= button_to 'Delete Teacher', {:action => 'destroy', :id => @teacher}, :method => :delete, :class => 'button', :id => 'delete_teacher' %>
</div>
<div id="secondary">
 <h2>Note</h2>
 <p>To edit <%= @teacher.display_name %>&#8217;s teaching load, click <%= link_to "here", edit_teaching_load_path(@teacher) %>.</p>
<%= initial %>
</div>



