<div id="content">
<h1><%= @page_h1 = "New Teacher" -%></h1>
<%= error_messages_for("teacher") %>
<%= form_for(@teacher, :url => teachers_path) do |f| %>
<fieldset>
  <legend>Name</legend>
  <ul class='line'>
    <li><label for='teacher_title'>Title</label><%= select("teacher", "title", %w(Mr Mrs Ms Dr)) %></li>
    <li><label for='teacher_first_name'>First</label><%= f.text_field 'first_name', {:size => 12} %></li>
    <li><label for='teacher_last_name'>Last</label><%= f.text_field 'last_name', {:size => 12} %></li>
  </ul>
</fieldset>
<fieldset>
  <legend>Login</legend>
  <ul class='line'>
   <%= fields_for "teacher[authorization]", @teacher.authorization do |auth| %>
    <li><label for='teacher_authorization_login'>Login</label><%= auth.text_field 'login', {:size => 12} %></li>
    <li><label for='teacher_authorization_password' id='password_label'>Password</label><%= auth.password_field 'password', {:size => 12} %></li>
    <li><label for='teacher_authorization_password_confirmation'>Confirm Password</label><%= auth.password_field 'password_confirmation', {:size => 12} %></li>
   <% end %>
  </ul>
</fieldset>
<fieldset>
  <legend>Optional Information</legend>
  <ul class='line'>
    <li><label for='teacher_id_number'>ID</label><%= f.text_field 'id_number', {:size => 10} %></li>
    <li><label for="teacher_email">Email</label><%= f.text_field 'email', :size => 10 %></li>
  </ul>
<%= submit_tag("Create Teacher", :class => 'button') %>
</fieldset>
<% end %>
<%= link_to "Back", teachers_path %>
</div>
<div id="secondary">
<h2>Note</h2>
<p>If you need to add many teachers at once, it is more convenient to do so <%= link_to('here', enter_multiple_path('teachers')) %>.</p>
<%= initial %>
</div>



