<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
 <head>
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  <link href="/stylesheets/public.css" media="screen" rel="Stylesheet" type="text/css" />
  <!--[if lt IE 7]>
   <link rel="stylesheet" href="/stylesheets/ie_public.css" media="screen" type="text/css">
  <![endif]-->
  <!--[if lt IE 8]>
   <link rel="stylesheet" href="/stylesheets/ie7_public.css" media="screen" type="text/css">
  <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="The easiest, most useful online gradebook" />
  <meta name="keywords" content="easy online gradebook, easy, simple, administrator" />
  <%= javascript_include_tag 'prototype', 'lowpro', 'effects', 'window', 'signup', 'password',  'calendar', :cache => 'signup_cache' %>
  <title>Schools Online Simply | LittleRedBrick</title>
 </head>
 <body id="logged_out">
  <div id = "wrapper">
   <div id="masthead" class="selectfree">
    <a id="logo" href="/">Little Red Brick: Schools Online Simply</a>
    <div id="secondary_nav">

    </div>
    <!--[if lte IE 6.5]><iframe></iframe><![endif]-->
   </div>
   <div id="content_wrap"><div id="content">
 <h1>Need Help Finding a School?</h1>
 <%= notice_or_error %>
<%= form_tag 'search', :method => :get do %>
<fieldset>
<legend>School Search</legend>
<p>Please enter your school&#8217;s name and your own name.</p>
<ul>
  <li><label for="school">School</label> <%= text_field_tag 'school' %></li>
  <li><label for="name">You</label> <%= text_field_tag 'name' %></li>
</ul>
<%= submit_tag 'Find it', :class => 'button' %>
</fieldset>
<% end %>
<% if @schools.length > 1 %>
<p>We found more than one school with the name you entered. Choose the one that looks right from the list below:</p>
<ul>
<% for school in @schools %>
 <li><a href="http://<%= school.domain_name %>.littleredbrick.com/login"><%= school.name %></a> : Grades <%= school.low_grade %> to <%= school.high_grade %>, <%= school.students.count %> students</li>
<% end %>
</ul>
<% end %>
 <p>If you want to log in to your school&#8217;s Little<span class='company'>Red</span>Brick site, you need to go to your school&#8217;s login page - which is <strong>not</strong> <em>www</em>.littleredbrick.com/login. It&#8217;s something like oxford.littleredbrick.com/login. If you don&#8217;t remember that first part, you can type your school&#8217;s name in the search box and we&#8217;ll find your login page for you.</p>
 <p>If you want to go to <a href="http://www.littleredbrick.com">www.littleredbrick.com</a>, use the link.</p>
</div>
  </div>
   <div id='footer' class='selectfree'>&#169; 2009 Little<span class='company'>Red</span>Brick <!--[if lte IE 6.5]><iframe></iframe><![endif]--></div>
  </div>
 </body>
</html>
