<div id="content">
<h1><%= @page_h1 = "Edit #{@section.name} Seating Chart" -%></h1>
<p>Choose a seat for each student.</p>
<%= notice_or_error %>
<%= form_tag section_seating_chart_path(@section) do %>
  <fieldset>
   <table>
    <% 0.upto(@rbes.map(&:y).max) do |y| %>
     <tr>
      <% 0.upto(@rbes.map(&:x).max) do |x| %>
       <td><%= select_tag "seat[#{x}][#{y}]", options_for_select(@rbes.map{|rbe| [rbe.student.full_name, rbe.id]}.unshift([nil, nil]), selected_for(@rbes, x, y)) %></td>
      <% end %>
     </tr>
    <% end %>
   </table>
   <%= submit_tag("Save Seating Chart", :class => 'button') %>
   <%= link_to "Make random chart", :order => 'random' %>
  </fieldset>
<% end %>
</div>
