<!--[form:assignment]-->
<table id='assignment_form'>
 <tr>
  <td><%= a.label :title -%><%= a.text_field :title %></td>
  <td>
   <%= a.label :point_value -%>
   <%= a.select 'point_value', (0..100), :selected => @assignment.point_value %>
  </td>
  <td> <% render 'scale' if @assignment.scalable? %></td>
  <td>
    <%= a.label :category, :title => "Select a category from the list. If you want to use a category that is not in the list, type it in the box (and it will be in the list the next time you create an assignment)." -%>
   <%= a.select 'category', @categories.uniq %>
   or <%= text_field_tag("category") %>
  </td>
 </tr>
 <tr>
  <td>
   <%= a.label :date_assigned -%>
   <%= datebocks_field 'assignment', 'date_assigned' %>
  </td>
  <td><% if !due_date_for_each? %>
   <%= a.label :date_due -%>
   <%= datebocks_field 'assignment', 'date_due', false, false  %>
   <% end %>
  </td>
  <td>
    <%= a.label :reported_grade_id, 'Marking Period', :class => 'clear' -%>
   <%= a.select('reported_grade_id', marking_period_indices, {:selected => @mp}) %>
  </td>
  <td colspan="2"><%= render 'due_dates' -%></td>
 </tr>
</table>
<%= render 'individual_grades' if due_date_for_each? -%>
<div id="assignment_description_div">
  <%= a.label :description, 'Description (optional)', :class => 'textarea' -%>
<%= a.text_area 'description', :cols => '50', :rows => '5'  %>
</div>
<%= render :partial => 'attachment', :locals => { :a => a } %>
<% render 'add_to_multiple_sections' if @multiple %>
<!--[eoform:assignment]-->
