 <ul id="due_date_list">
  <% @grades.each do |grade| %>
   <% prefix = grade.new_record?? "assignment[new_grades][#{grade.rollbook_entry_id}]" : "assignment[grades][#{grade.id}]" %>
   <% js_tag = "#{prefix.gsub(/([\[\]])+/,'_')}date_due" %>
   <%= fields_for prefix, grade do |grade_form| %>
     <li><label><%= grade.rollbook_entry.student.full_name %></label>
     <div class="dateBocks">
      <ul>
       <li><%= grade_form.text_field :date_due %></li>
       <li><%= image_tag('calendar.png', :alt => 'Calendar', :title => 'Calendar', 
                         :id => js_tag + 'Button', :class => 'hide') %></li>
      </ul>
      <div id="<%= js_tag %>Msg" class="dateBocksMessage">yyyy-mm-dd</div>
     </div>
     </li>
   <% end %>
  <% end %>
 </ul>
