<div id="content">
  <h1>Edit Assignment <%= @assignment.position -%></h1>
<%= error_messages_for("assignment") %>
<%= form_for @assignment, :url => section_assignment_path(@section, @assignment), :html => { :multipart => true } do |a| %>
 <fieldset>
<legend>Edit Assignment</legend>
<%= render(:partial => "assignment_form", :locals => { :a => a } ) %>

<%= submit_tag("Save Assignment", :class => 'button') %>
</fieldset>
<% end %>
<%= button_to 'Destroy Assignment', section_assignment_path(@section, @assignment), :method => :delete, :class => 'button' %>
<%= link_to "Back to gradebook", section_gradebook_path(@section) %>
</div>
