<div id='content'>
 <h1>Assignment <%= @assignment.position %>: <%= @assignment.title %></h1>
  <div class='section'>
  <h2>Due <%= @assignment.date_due.strftime("%b %d, %Y") rescue '<span title="This assignment has individual due dates for each student">N/A</span>' %> (Marking Period <%= @mp_position %>)</h2>
   <dl>
     <dt>Point Value</dt> <dd class='assign_stats'><%= @assignment.point_value %></dd>
     <dt>Category</dt> <dd class='assign_stats'><%= link_to @assignment.category, link_by_user, :title => 'Click to see all assignments from this category' %></dd>
    <dt>Date Assigned</dt><dd class='assign_stats'><%= @assignment.date_assigned.strftime("%b %d, %Y") %></dd>
    <% unless @assignment.description.blank? %>
     <dt>Description</dt><dd id='description'><%= @assignment.description %></dd>
    <% end %>
    <% if @assignment.attachment? -%>
    <dt>Attachment</dt> <dd class='assign_stats'><%= link_to @assignment.attachment_file_name, section_assignment_path(@section, @assignment, :format => @assignment.attachment_extension), :title => "Click to download" -%>
    <% end %>
    <dt><%= link_to "Edit Assignment", edit_section_assignment_path(@section, @assignment) if current_user.teaches?(@section) %></dt>
    <%= render 'gradebook/assignments/section_data' if current_user.admin? || current_user.teaches?(@section) %>
  </div>
 </div>
<% if @assignments %> 
<div id='secondary'>
<h3>View Other Assignments</h3>
<ul>
 <% for assignment in @assignments %>
  <li><%= assignment.position %>:<%= link_to_unless_current assignment.title, section_assignment_path(@section, assignment), :title => 'Click to view similar details for this assignment' %></li>
 <% end %>
</ul>
<% if @assignments.empty? %><p>There are no other assignments due in the same marking period.</p><% end %>
</div>
<% end %>
