<div id="content">
<h1><%= @page_h1 = "The Admin Tab" -%></h1>
<p>The admin tab is a catchall for aspects of Little<span class='company'>Red</span>Brick which only administrators (*and teachers with admin privileges) may access.</p>
<p>There are four subdivisions of this section of the site:</p>
<dl>
 <dt><%= link_to "Administrators", 'administrators' %></dt><dd>To manage administrative user accounts</dd>
 <dt><%= link_to "Catalog", 'catalog' %></dt><dd>Provides a quick overview of enrollment and subject-specific class performance information</dd>
 <dt><%= link_to "School", 'school' %></dt><dd>High level summary of information about your school</dd>
 <dt><%= link_to "Term", 'term' %></dt><dd>To manage marking period dates, daily schedule, etc.</dd>
</dl>
</div>
