<div>
 <h2>Upcoming Events</h2>
 <% if @events.empty? %>
 <p>No events are on your calendar for the next week. You can <%= link_to "make one", new_event_path %> if you want.</p>
 <% else %>
 <table class='scrollike' cellspacing='0'>
  <thead>
   <tr>
    <th>Date</th>
    <th>Name</th>
   </tr>
  </thead>
  <tbody><% reset_cycle %>
  <% for event in @events %>
   <tr class='<%= cycle('odd', 'even') %>'>
    <td><%= event.date.strftime("%a %b %d") %></td>
    <td><%= link_to_unless event.id.nil?, truncate(event.name, :length => 15, :separator => ' '), event_path(event.id), :title => event.description || event.name do "<span title=\"#{event.description || event.name}\">#{truncate(event.name, :length => 15, :separator => ' ')}</span>" end %></td>
   </tr>
  <% end %>
  </tbody>
 </table>
 <% end %>
</div>
<%= '<hr />'.html_safe unless @events.empty? %>
