<div id = 'content'>
 <%= notice_or_error %>
 <div class="student">
  <h2>Current Marking Period Grades</h2>
   <table id = 'grade' summary="This table of grades lists the course name, letter grade, and percentage (column headings) for each subject.  To find more information about a class, click on its name." class="sortable scrollike" cellspacing="0">
    <thead>
     <tr><th>Subject</th><th>Teacher</th><th class = 'grade' title="Grades are for marking period <%= @mp.position %>">Grade</th><th class = 'percent'>Percent</th></tr>
    </thead>
    <tbody>
     <% @rbes.each do |rbe| %><% reset_cycle %>
      <tr class="<%#= cycle('odd', 'even') %>">
       <td class = 'subject text'><%= link_to rbe.section.name, student_class_path(rbe.section), :title => "Click to see more information on your performance in #{rbe.section.name}" %></td>
       <td><%= rbe.section.teacher.display_name %></td>
        <% mark = rbe.milestones.detect{|m| m.reported_grade_id == @mp.reported_grade_id} %>
       <td class = 'grade'><%= rbe.section.on_scale(mark.grade) %></td>
       <td class = 'percent'><%= number_with_precision(mark.grade, :precision => 1) %></td>
      </tr>
     <% end %>
    </tbody>
   </table>
  </div>
  <%= render(:partial => "shared/ungrade") %>

 </div>
 <div id="secondary">
 <% reset_cycle %>
  <%= render(:partial => "posts") %>
  <hr/>
 <% reset_cycle %>
  <%= render(:partial => "events") %>

 </div>
