<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"                 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <%= render(:partial => "layouts/header") %>
  <body id = '<%= controller.controller_name %>_<%= controller.action_name %>' class='<%= @full ? 'initial full' : 'initial' %>'>
  <div id = 'wrapper'>
    <div id="masthead" class='selectfree'>
     <ul id="logout">
      <li><%= button_to "Logout", logout_path, :method => :delete, :class => 'logout' %></li>
     </ul>
     <div id="logo">Little Red Brick: Schools Online Simply</div>
     <div id="nav">
      <ul id="secondary_nav">
       <li title="change font size" id="styleswitch"><ul>
        <li><%= link_to "Enlarge", {:stylesheet => 'large'}, {:title => 'click to enlarge text', :class => 'big'} %></li>
        <li><%= link_to "Shrink", {:stylesheet => 'term'}, {:title => 'click to shrink text'} %></li>
       </ul></li>
      </ul>
     </div>
    <!--[if lte IE 6.5]><iframe></iframe><![endif]-->
    </div>
    <div id="content_wrap">
      <%= yield %>
    </div>
    <div id='footer' class='selectfree'>&#169; 2008-11 Little<span class='company'>Red</span>Brick <!--[if lte IE 6.5]><iframe></iframe><![endif]--></div>
  </div>
  </body>
</html>
